<div class="section-inner-design" data-scroll-container>
  <div class="sid-grid">
    <div class="sid-grid__left">
      <div class="sid-grid__left-img">
        <span class="bl-video bl-video_banner" data-scroll-top>
          <!-- <img src="img/bg12.jpg" alt="image"> -->
          <video loop muted playsinline data-autoplay>
            <source src="https://res.cloudinary.com/dlz80e3v7/video/upload/v1582903321/flowers_kgvvqw.mp4" type="video/mp4">
            <source src="https://res.cloudinary.com/dlz80e3v7/video/upload/v1582903318/flowers_ofohyg.webm" type="video/webm">
          </video>
        </span>
      </div>
      <div class="sid-grid__left-inner">
        <div class="tt-site tt-site_h2" data-scroll-left>BUILT FOR</div>
      </div>
    </div>
    <div class="sid-grid__right">
      <div class="sid-grid__right-inner">
        <div class="sid-grid__inversion">
          <div class="sid-grid__inversion-img">
            <img src="img/img18.jpg" alt="image">
          </div>
          <div class="sid-grid__inversion-tt">
              <div class="tt-site tt-site_h2" data-scroll-right><span>THE FUTURE</span></div>
          </div>
        </div>
        <div class="sid-grid__txt-bottom">
          <p>Built between 1964 and 1968, Space House is a product as much of its time as of the future. </p>
        </div>
      </div>
    </div>
  </div>
</div>
