<div class="section section-slider-img section-shadow s4-slider-design" data-anchor="slide3">
  <div class="section-slider__inner">

    <div class="slider-img-wrapp" data-slider-img>
      <div class="container">
        <div class="slider-img-cap">
          <div class="slider-img-cap__tt" data-anim-fadel>
            <div class="tt-site tt-site_h3">LONDON: A BRUTALIST
              LANDSCAPE</div>
          </div>
          <div class="slider-img-cap__txt txt-st-second" data-anim-fader>
            <p>Brutalist projects valued human relationships and interaction above all else, with the ambition of making people’s lives better through architecture.</p>
          </div>
        </div>
        <!-- Slider main container -->
        <div class="slider-img-wrapp__carousel">
          <!-- If we need navigation buttons -->
          <div class="slider-right-btn">
            <div class="btn-slider btn-slider_prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path d="M10.01 0l-.68.665 4.855 4.86H0v.95h14.185L9.33 11.34l.68.66L16 6z"/></g></g></svg>
            </div>
            <div class="btn-slider btn-slider_next">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path d="M10.01 0l-.68.665 4.855 4.86H0v.95h14.185L9.33 11.34l.68.66L16 6z"/></g></g></svg>
            </div>
          </div>
          <div class="slider-img-wrapp__carousel-inner">
            <div class="swiper-container">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide" data-anim-fadey>
                  <div class="slide-main-icon">
                    <div class="slide-main-icon__image">
                      <img src="img/slide1.jpg" alt="image slide">
                    </div>
                    <div class="slide-main-icon__txt">
                      Bike terminals promote eco-friendly commuting
                    </div>
                  </div>
                </div>
                <div class="swiper-slide" data-anim-fadey="0.3">
                  <div class="slide-main-icon">
                    <div class="slide-main-icon__image">
                      <img src="img/slide1.jpg" alt="image slide">
                    </div>
                    <div class="slide-main-icon__txt">
                      Bike terminals promote eco-friendly commuting
                    </div>
                  </div>
                </div>
                <div class="swiper-slide" data-anim-fadey="0.6">
                  <div class="slide-main-icon">
                    <div class="slide-main-icon__image">
                      <img src="img/slide1.jpg" alt="image slide">
                    </div>
                    <div class="slide-main-icon__txt">
                      Bike terminals promote eco-friendly commuting
                    </div>
                  </div>
                </div>
              </div>
              <!-- If we need pagination -->
              <!-- <div class="swiper-pagination"></div> -->
              <!-- If we need scrollbar -->
              <!-- <div class="swiper-scrollbar"></div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
