<div class="section" data-anchor="slide5">
  <div class="slider-range-img slider-range-img_shadow" data-slider-range-img data-anim-zoom>
    <div class="slider-range-img__txt">
      <p>George Marsh imbued Space House with his signature eye-catching avant-garde design. Through our refurbishment, architects George Marsh and Richard Seifert have restored and retained a Brutalist icon for the ages.</p>
    </div>
    <div class='slider-range-img__img slider-range-img__background-img'>
      <img src="img/img-before.jpg" alt="">
    </div>
    <div class='slider-range-img__img slider-range-img__foreground-img'>
      <img src="img/img-after.jpg" alt="">
    </div>
    <input type="range" min="1" max="100" value="50" class="slider-range-img__slider slider-range-input" name='slider-range-img' onwheel="this.blur()">
    <div class='slider-range-img__slider-button'></div>
  </div>
</div>
