<div class="section section-visible section-my-built section-light scroll-auto fp-auto-height" data-anchor="slide6">
  <div class="section__full">
    <div class="container">
      <div class="line-desc">
        <div class="grid-plans box-line-vert mb--8 mb--1-tb">
          <div class="grid-plans__tt" data-anim-fadey>
            <div class="tt-site tt-site_h3 tt-site_h3_mb-sm">SPACE HOUSE ARCHITECTURAL PLANS</div>
          </div>
          <div class="grid-plans__img grid-plans__img_fix" data-slider-scroll-img data-anim-fadey>
            <div class="img-js img-js_one _active">
              <img src="img/img21.jpg" alt="image">
            </div>
            <div class="img-js img-js_two">
              <img src="https://fakeimg.pl/482x378/ccc/?text=Img2" alt="fake image">
            </div>
            <div class="img-js img-js_three">
              <img src="https://fakeimg.pl/482x378/ccc/?text=Img3" alt="fake image">
            </div>
          </div>
          <div class="grid-plans__txt" data-anim-fadey>
            <p class="txt-st-main">Commissioned by property tycoon Harry Hyams in the 60s, Space House was developed by Richard Seifert &amp; Partners, the same architecture practice behind the Centre Point building.</p>
          </div>
        </div>

        <div class="grid-vision grid-vision_second">
          <div class="grid-vision__tt">
            <div class="tt-site tt-site_h3 tt-site_h3_mb-sm" data-anim-fadey>MATERIALITY</div>
            <p class="txt-st-main" data-anim-fadey>Space House was built for the future. Today, much of the original building still supports these values. It’s why we chose to update rather than tear down existing features, and to do in a way that meets – and exceeds – the standards of today. With our refurbishment, we seek to celebrate the original building and its core materials:</p>
          </div>
          <div class="grid-vision__img grid-vision__img_second" data-anim-fadey>
            <img src="img/img22.jpg" alt="image">
          </div>
          <div class="grid-vision__txt">
            <div class="grid-vision__txt-inner">
              <p class="txt-sm" data-anim-fadey>STEEL &amp; GLASS <br>
                On all floors, the existing exposed concrete structure is complemented through softer wood detailing or placed centre stage. Look closely and you’ll find it integrated in the elevators’ fit-out as well.</p>
              <p class="txt-sm" data-anim-fadey>TERRAZZO <br>
                On all floors, the existing exposed concrete structure is complemented through softer wood detailing or placed centre stage. Look closely and you’ll find it integrated in the elevators’ fit-out as well.</p>
              <p class="txt-sm" data-anim-fadey>CONCRETE <br>
                On all floors, the existing exposed concrete structure is complemented through softer wood detailing or placed centre stage. Look closely and you’ll find it integrated in the elevators’ fit-out as well.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
