<div class="section section-slider-img section-slider-img_second section-shadow-second" data-anchor="slide3">
  <div class="section-slider__inner">

    <div class="slider-img-wrapp" data-slider-img-second>
      <div class="container">
        <div class="slider-img-cap slider-img-cap_tt-resize">
          <div class="slider-img-cap__tt" data-anim-fadel>
            <div class="tt-site tt-site_h3">RETAINING AN ICON</div>
          </div>
          <div class="slider-img-cap__txt txt-st-second" data-anim-fader>
            <p>We wanted walking into Space House to feel like stepping into the future of today. At the same time, we didn’t want to sacrifice a sense of where we came from. By framing the past with the future, we managed to proudly embrace our history while continuing to guide the trends shaping tomorrow. </p>
          </div>
        </div>
        <!-- Slider main container -->
        <div class="slider-img-wrapp__carousel">
          <!-- If we need navigation buttons -->
          <div class="slider-right-btn">
            <div class="btn-slider btn-slider_prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path d="M10.01 0l-.68.665 4.855 4.86H0v.95h14.185L9.33 11.34l.68.66L16 6z"/></g></g></svg>
            </div>
            <div class="btn-slider btn-slider_next">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path d="M10.01 0l-.68.665 4.855 4.86H0v.95h14.185L9.33 11.34l.68.66L16 6z"/></g></g></svg>
            </div>
          </div>
          <div class="slider-img-wrapp__carousel-inner">
            <div class="swiper-container">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide" data-anim-fadey>
                  <div class="slide-main-icon">
                    <div class="slide-main-icon__image">
                      <img src="img/slide2.jpg" alt="image slide">
                    </div>
                  </div>
                </div>
                <div class="swiper-slide" data-anim-fadey="0.4">
                  <div class="slide-main-icon">
                    <div class="slide-main-icon__image">
                      <img src="img/slide3.jpg" alt="image slide">
                    </div>
                  </div>
                </div>
                <div class="swiper-slide" data-anim-fadey="0.8">
                  <div class="slide-main-icon">
                    <div class="slide-main-icon__image">
                      <img src="img/slide1.jpg" alt="image slide">
                    </div>
                  </div>
                </div>
              </div>
              <!-- If we need pagination -->
              <!-- <div class="swiper-pagination"></div> -->
              <!-- If we need scrollbar -->
              <!-- <div class="swiper-scrollbar"></div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
