<div class="section section-dark section-preview design-section3" data-anchor="slide2">
  <!-- <div class="my-bg" data-anim-zoom>
    <img src="img/bg13.jpg" alt="image">
  </div> -->

  <video class="my-bg" loop muted playsinline data-autoplay>
    <source src="https://res.cloudinary.com/dlz80e3v7/video/upload/v1582903321/flowers_kgvvqw.mp4" type="video/mp4">
    <source src="https://res.cloudinary.com/dlz80e3v7/video/upload/v1582903318/flowers_ofohyg.webm" type="video/webm">
  </video>
  <div class="section__inner">
    <div class="container">
      <div class="section-preview__st section-preview__st_max-width" id="design-preview" data-paralax data-anim-fadey-fix>
        <div class="tt-site tt-site_h2" data-depth="0.6">BORN IN AN ERA
          OF CHANGE</div>
      </div>
    </div>
  </div>
</div>
