<div class="gallery-boxes">
  <div class="container container_sm-indent">
    <div class="gallery-box gallery-download">
      <div class="gallery-download__item">
        <div class="gallery-box__info-tt" data-anim-fadel>BROCHURE </div>
        <button class="btn btn_border btn_mob-style">DOWNLOAD PDF</button>
      </div>
      <div class="gallery-download__item">
        <div class="gallery-box__info-tt" data-anim-fadel>FLOORPLANS </div>
        <button class="btn btn_border btn_mob-style">DOWNLOAD PDF</button>
      </div>
    </div>
    <div class="gallery-box">
      <div class="gallery-box__info">
        <div class="gallery-box__info-tt" data-anim-fadel>EXTERIOR </div>
        <div class="gallery-box__info-txt">
          <div class="gallery-box__info-txt-name" data-anim-fadel="0.2">AREA</div>
          <div class="gallery-box__info-txt-txt" data-anim-fadel="0.4">202M2  2,174SQ FT</div>
        </div>
        <div class="gallery-box__info-btn" data-anim-fadel="0.6">
          <button class="btn btn_border btn_mob-style">DOWNLOAD PDF</button>
        </div>
      </div>
      <div class="gallery-box__slider" data-slider-cards>
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" data-anim-fadey>
              <button type="button" data-modal-open-slider="0" data-modal="modal-gallery0"><img src="img/slide7.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.2">
              <button type="button" data-modal-open-slider="1" data-modal="modal-gallery0"><img src="img/slide8.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.4">
              <button type="button" data-modal-open-slider="2" data-modal="modal-gallery0"><img src="img/slide9.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.6">
              <button type="button" data-modal-open-slider="3" data-modal="modal-gallery0"><img src="img/slide10.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.8">
              <button type="button" data-modal-open-slider="4" data-modal="modal-gallery0"><img src="img/slide11.jpg" alt="image"></button>
            </div>
          </div>
        </div>

        <!-- If we need navigation buttons -->
        <div class="slider-right-btn">
          <div class="btn-slider btn-slider_prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path d="M10.01 0l-.68.665 4.855 4.86H0v.95h14.185L9.33 11.34l.68.66L16 6z"/></g></g></svg>
          </div>
          <div class="btn-slider btn-slider_next">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path d="M10.01 0l-.68.665 4.855 4.86H0v.95h14.185L9.33 11.34l.68.66L16 6z"/></g></g></svg>
          </div>
        </div>

      </div>
    </div>
    <div class="gallery-box gallery-box2">
      <div class="gallery-box__info">
        <div class="gallery-box__info-tt" data-anim-fadel="0.8">OFFICE SPACE </div>
        <div class="gallery-box__info-txt">
          <div class="gallery-box__info-txt-name" data-anim-fadel="1">AREA</div>
          <div class="gallery-box__info-txt-txt" data-anim-fadel="1.2">202M2  2,174SQ FT</div>
        </div>
        <div class="gallery-box__info-btn" data-anim-fadel="1.4">
          <button class="btn btn_border btn_mob-style">DOWNLOAD PDF</button>
        </div>
      </div>
      <div class="gallery-box__slider" data-slider-cards>
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" data-anim-fadey>
              <button type="button" data-modal-open-slider="0" data-modal="modal-gallery1"><img src="img/slide10.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.4">
              <button type="button" data-modal-open-slider="1" data-modal="modal-gallery1"><img src="img/slide8.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.6">
              <button type="button" data-modal-open-slider="2" data-modal="modal-gallery1"><img src="img/slide9.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.8">
              <button type="button" data-modal-open-slider="3" data-modal="modal-gallery1"><img src="img/slide10.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="1">
              <button type="button" data-modal-open-slider="4" data-modal="modal-gallery1"><img src="img/slide11.jpg" alt="image"></button>
            </div>
          </div>
        </div>

        <!-- If we need navigation buttons -->
        <div class="slider-right-btn">
          <div class="btn-slider btn-slider_prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path d="M10.01 0l-.68.665 4.855 4.86H0v.95h14.185L9.33 11.34l.68.66L16 6z"/></g></g></svg>
          </div>
          <div class="btn-slider btn-slider_next">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path d="M10.01 0l-.68.665 4.855 4.86H0v.95h14.185L9.33 11.34l.68.66L16 6z"/></g></g></svg>
          </div>
        </div>

      </div>
    </div>
    <div class="gallery-box gallery-box3">
      <div class="gallery-box__info">
        <div class="gallery-box__info-tt" data-anim-fadel>THE BRIDGE </div>
        <div class="gallery-box__info-txt">
          <div class="gallery-box__info-txt-name" data-anim-fadel>AREA</div>
          <div class="gallery-box__info-txt-txt" data-anim-fadel>202M2  2,174SQ FT</div>
        </div>
        <div class="gallery-box__info-btn" data-anim-fadel>
          <button class="btn btn_border btn_mob-style">DOWNLOAD PDF</button>
        </div>
      </div>
      <div class="gallery-box__slider" data-slider-cards>
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" data-anim-fadey>
              <button type="button" data-modal-open-slider="0" data-modal="modal-gallery2"><img src="img/slide11.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.2">
              <button type="button" data-modal-open-slider="1" data-modal="modal-gallery2"><img src="img/slide8.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.4">
              <button type="button" data-modal-open-slider="2" data-modal="modal-gallery2"><img src="img/slide9.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.6">
              <button type="button" data-modal-open-slider="3" data-modal="modal-gallery2"><img src="img/slide10.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.8">
              <button type="button" data-modal-open-slider="4" data-modal="modal-gallery2"><img src="img/slide11.jpg" alt="image"></button>
            </div>
          </div>
        </div>

        <!-- If we need navigation buttons -->
        <div class="slider-right-btn">
          <div class="btn-slider btn-slider_prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path d="M10.01 0l-.68.665 4.855 4.86H0v.95h14.185L9.33 11.34l.68.66L16 6z"/></g></g></svg>
          </div>
          <div class="btn-slider btn-slider_next">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path d="M10.01 0l-.68.665 4.855 4.86H0v.95h14.185L9.33 11.34l.68.66L16 6z"/></g></g></svg>
          </div>
        </div>

      </div>
    </div>
    <div class="gallery-box gallery-box4">
      <div class="gallery-box__info">
        <div class="gallery-box__info-tt" data-anim-fadel>FACILITIES</div>
        <div class="gallery-box__info-txt">
          <div class="gallery-box__info-txt-name" data-anim-fadel>AREA</div>
          <div class="gallery-box__info-txt-txt" data-anim-fadel>202M2  2,174SQ FT</div>
        </div>
        <div class="gallery-box__info-btn" data-anim-fadel>
          <button class="btn btn_border btn_mob-style">DOWNLOAD PDF</button>
        </div>
      </div>
      <div class="gallery-box__slider" data-slider-cards>
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" data-anim-fadey>
              <button type="button" data-modal-open-slider="0" data-modal="modal-gallery3"><img src="img/slide11.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.2">
              <button type="button" data-modal-open-slider="1" data-modal="modal-gallery3"><img src="img/slide8.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.4">
              <button type="button" data-modal-open-slider="2" data-modal="modal-gallery3"><img src="img/slide9.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.6">
              <button type="button" data-modal-open-slider="3" data-modal="modal-gallery3"><img src="img/slide10.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.8">
              <button type="button" data-modal-open-slider="4" data-modal="modal-gallery3"><img src="img/slide11.jpg" alt="image"></button>
            </div>
          </div>
        </div>

        <!-- If we need navigation buttons -->
        <div class="slider-right-btn">
          <div class="btn-slider btn-slider_prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path d="M10.01 0l-.68.665 4.855 4.86H0v.95h14.185L9.33 11.34l.68.66L16 6z"/></g></g></svg>
          </div>
          <div class="btn-slider btn-slider_next">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path d="M10.01 0l-.68.665 4.855 4.86H0v.95h14.185L9.33 11.34l.68.66L16 6z"/></g></g></svg>
          </div>
        </div>

      </div>
    </div>
    <div class="gallery-box gallery-box5">
      <div class="gallery-box__info">
        <div class="gallery-box__info-tt" data-anim-fadel>Name 5</div>
        <div class="gallery-box__info-txt">
          <div class="gallery-box__info-txt-name" data-anim-fadel>AREA</div>
          <div class="gallery-box__info-txt-txt" data-anim-fadel>202M2  2,174SQ FT</div>
        </div>
        <div class="gallery-box__info-btn" data-anim-fadel>
          <button class="btn btn_border btn_mob-style">DOWNLOAD PDF</button>
        </div>
      </div>
      <div class="gallery-box__slider" data-slider-cards>
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" data-anim-fadey>
              <button type="button" data-modal-open-slider="0" data-modal="modal-gallery4"><img src="img/slide11.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.2">
              <button type="button" data-modal-open-slider="1" data-modal="modal-gallery4"><img src="img/slide8.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.4">
              <button type="button" data-modal-open-slider="2" data-modal="modal-gallery4"><img src="img/slide9.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.6">
              <button type="button" data-modal-open-slider="3" data-modal="modal-gallery4"><img src="img/slide10.jpg" alt="image"></button>
            </div>
            <div class="swiper-slide" data-anim-fadey="0.8">
              <button type="button" data-modal-open-slider="4" data-modal="modal-gallery4"><img src="img/slide11.jpg" alt="image"></button>
            </div>
          </div>
        </div>

        <!-- If we need navigation buttons -->
        <div class="slider-right-btn">
          <div class="btn-slider btn-slider_prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path d="M10.01 0l-.68.665 4.855 4.86H0v.95h14.185L9.33 11.34l.68.66L16 6z"/></g></g></svg>
          </div>
          <div class="btn-slider btn-slider_next">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path d="M10.01 0l-.68.665 4.855 4.86H0v.95h14.185L9.33 11.34l.68.66L16 6z"/></g></g></svg>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
