//grid
$xxsm: 374px;
$xsm: 459px;
$sm: 639px;
$md: 767px;
$lg: 1024px;
$xl: 1199px;
$xxl: 1399px;

//fonts
$font-1: "ABCMonument", Arial, sans-serif;
$font-2: "ABCMonument", Arial, sans-serif;
$font-one: "ABCMonument", Arial, sans-serif;
$font-second: "ABCMonument", Arial, sans-serif;
$fnt-1: "ABCMonument";
$fnt-2: "ABCMonument";
$fnt-one: "ABCMonument";
$fnt-second: "ABCMonument";
$fnt-three: "HelveticaNeue";

//colors
$color-1: #000;
$color-2: #fff;
$color-3: #fff;
$color-4: #fff;
$color-5: #fff;

$cl-dark: #000;
$cl-dark2: #000000;
$cl-light: #fff;
$cl-light2: #ffffff;
$cl-silver: #c4c4c4;
$cl-silver-chalice: #9e9e9e;
$cl-silver-chalice2: #acacac;
$cl-mine-shaft: #303030;
$cl-bizarre: #ebdfd3;
$cl-pale-leaf: #cbd6be;
$cl-raffia: #ead2bc;
$cl-name: color;

// timing
$time-sm: 200ms;
$time-md: 500ms;
$time-lg: 800ms;
$time-xl: 1100ms;

//tt
$title-size1: 100px;
$title-size2: 100px;
$title-size3: 60px;
$title-size4: 30px;
$title-size5: 28px;
$title-size6: 22px;

// container
$width-container: 1340px;
