<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__one">
        <div class="footer__one-inner">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 841.9 595.3"
            style="enable-background:new 0 0 841.9 595.3;" xml:space="preserve">
            <g>
              <path d="M270.4,368.5c-2.1-2.6-5.6-4.6-9.8-4.6c-4.4,0-7,2.2-7,5.1c0,2.8,1.8,3.9,6.2,4.8l4.6,1c7.1,1.6,12.2,3.9,12.2,10.8
                c0,7-5.8,11.7-15.3,11.7c-8.3,0-13.9-4.1-16.6-7.8l5.6-4c1.7,2.9,5.9,5.8,11.3,5.8c5.1,0,7.7-2.1,7.7-5.1c0-3-2.6-4.1-6.5-4.9
                l-5.1-1.1c-6.2-1.3-11.4-4-11.4-10.9c0-6.8,6.3-11.3,14.4-11.3c7.9,0,12.5,3.9,14.8,6.3L270.4,368.5z" />
              <path d="M300.5,364.7v9.4h18.1v6h-18.1v10.7h21.3v6h-28v-38h26.6v6H300.5z" />
              <path d="M343.1,396.8h-7l13.2-38h7.6l13.1,38h-7.2l-2.9-8.6h-13.8L343.1,396.8z M354.4,370.6c-0.6-1.8-1-3.4-1.4-4.9h-0.1
                c-0.3,1.4-0.8,3-1.4,4.8l-3.6,11.7h10L354.4,370.6z" />
              <path d="M392.4,364.7v9.9h17.1v6h-17.1v16.2h-6.7v-38h24.5v6H392.4z" />
              <path
                d="M442.8,358.1c11.1,0,18,8.1,18,19.7c0,11.6-6.4,19.7-18,19.7c-11.5,0-18-8.1-18-19.7C424.8,366.1,431.7,358.1,442.8,358.1z
                M442.8,391.3c6.8,0,10.7-5.3,10.7-13.6c0-8.3-4-13.7-10.7-13.7c-6.7,0-10.7,5.4-10.7,13.7C432.1,386,436,391.3,442.8,391.3z" />
              <path d="M485.2,381.5v15.2h-6.7v-38h13.9c3.2,0,6.7,0.1,9.6,1.7c3.4,2,5.4,5.1,5.4,9.7c0,4.2-2,7.3-5,9.3c-0.9,0.6-2.1,1-3,1.3
                l9.5,15.9h-8l-8.8-15.2H485.2z M485.2,375.5h7.2c2.7,0,4.2-0.2,5.4-0.7c1.7-0.8,2.7-2.7,2.7-4.8s-1-3.9-2.7-4.6
                c-1.2-0.5-2.6-0.7-5.4-0.7h-7.2V375.5z" />
              <path d="M521.9,358.7h28.9v6h-11.1v32H533v-32h-11.1V358.7z" />
              <path d="M573.4,380.1v16.7h-6.7v-38h6.7v15.4h17v-15.4h6.7v38h-6.8l0.1-16.7H573.4z" />
            </g>
            <polygon
              points="439.1,159.9 402.8,199.8 385.7,180.7 385.7,263.5 402.8,282.7 439.1,242.7 456.2,261.8 456.2,179 " />
            <g>
              <path d="M273.3,327.6h-1.6l4.3-12.1h1.7l4.3,12.1h-1.7l-1.2-3.5h-4.6L273.3,327.6z M277.3,318.7c-0.2-0.6-0.4-1.1-0.5-1.4h0
                c-0.1,0.3-0.2,0.8-0.5,1.4l-1.4,4h3.7L277.3,318.7z" />
              <path d="M295.4,327.6v-12.1h4.7c1.4,0,2,0.1,2.7,0.4c1,0.5,1.6,1.4,1.6,2.7c0,1.3-0.7,2.2-1.8,2.5c1.4,0.4,2.2,1.5,2.2,3
                c0,1.4-0.6,2.3-1.7,2.9c-0.6,0.3-1.3,0.5-2.9,0.5H295.4z M301.8,317.1c-0.4-0.2-0.8-0.2-1.8-0.2h-3.1v3.7h3.1c1,0,1.4-0.1,1.8-0.2
                c0.6-0.3,1-0.8,1-1.6S302.4,317.4,301.8,317.1z M296.9,326.2h3.2c1,0,1.5-0.1,1.9-0.2c0.7-0.3,1.2-1,1.2-1.9c0-0.7-0.4-1.3-0.9-1.7
                c-0.6-0.4-1.3-0.4-2.2-0.4h-3.2V326.2z" />
              <path d="M318.6,327.6h-8.4v-12.1h8.1v1.4h-6.5v3.8h5.9v1.4h-5.9v4.1h6.9V327.6z" />
              <path d="M322.6,315.5h9v1.4h-3.7v10.7h-1.6v-10.7h-3.7V315.5z" />
              <path d="M335.4,315.5h9v1.4h-3.7v10.7h-1.6v-10.7h-3.7V315.5z" />
              <path d="M357.9,327.6h-8.4v-12.1h8.1v1.4h-6.5v3.8h5.9v1.4h-5.9v4.1h6.9V327.6z" />
              <path
                d="M365.1,327.6h-1.6v-12.1h4.6c1.2,0,1.9,0.1,2.5,0.4c1.2,0.5,2,1.6,2,3.1c0,1.9-1.3,3.1-3.1,3.4l3.4,5.2h-2l-3.3-5.2h-2.5
                V327.6z M367.9,321c1.1,0,1.6-0.1,2.1-0.3c0.7-0.3,1-0.9,1-1.8c0-0.8-0.4-1.5-1.1-1.8c-0.4-0.2-0.9-0.3-2.1-0.3h-2.7v4.1H367.9z" />
              <path d="M386.5,327.6v-12.1h8v1.4h-6.4v3.8h5.8v1.4h-5.8v5.5H386.5z" />
              <path
                d="M400.2,325.9c-0.4-0.8-0.6-1.5-0.6-3.3v-7.1h1.6v7.1c0,1,0,2,0.4,2.7c0.4,0.7,1.4,1.2,2.6,1.2c1.2,0,2.1-0.4,2.6-1.2
                c0.4-0.7,0.4-1.7,0.4-2.7v-7.1h1.6v7.1c0,1.8-0.2,2.5-0.6,3.3c-0.8,1.3-2.2,1.9-3.9,1.9C402.3,327.8,400.9,327.2,400.2,325.9z" />
              <path d="M413.3,315.5h9v1.4h-3.7v10.7H417v-10.7h-3.7V315.5z" />
              <path
                d="M427.6,325.9c-0.4-0.8-0.6-1.5-0.6-3.3v-7.1h1.6v7.1c0,1,0,2,0.4,2.7c0.4,0.7,1.4,1.2,2.6,1.2c1.2,0,2.1-0.4,2.6-1.2
                c0.4-0.7,0.4-1.7,0.4-2.7v-7.1h1.6v7.1c0,1.8-0.2,2.5-0.6,3.3c-0.8,1.3-2.2,1.9-3.9,1.9C429.7,327.8,428.4,327.2,427.6,325.9z" />
              <path
                d="M443.9,327.6h-1.6v-12.1h4.6c1.2,0,1.9,0.1,2.5,0.4c1.2,0.5,2,1.6,2,3.1c0,1.9-1.3,3.1-3.1,3.4l3.4,5.2h-2l-3.3-5.2h-2.5
                V327.6z M446.6,321c1.1,0,1.6-0.1,2.1-0.3c0.7-0.3,1-0.9,1-1.8c0-0.8-0.4-1.5-1.1-1.8c-0.4-0.2-0.9-0.3-2.1-0.3h-2.7v4.1H446.6z" />
              <path d="M465.4,327.6h-8.4v-12.1h8.1v1.4h-6.5v3.8h5.9v1.4h-5.9v4.1h6.9V327.6z" />
              <path d="M479.4,327.6v-12.1h4.7c1.4,0,2,0.1,2.7,0.4c1,0.5,1.6,1.4,1.6,2.7c0,1.3-0.7,2.2-1.8,2.5c1.4,0.4,2.2,1.5,2.2,3
                c0,1.4-0.6,2.3-1.7,2.9c-0.6,0.3-1.3,0.5-2.9,0.5H479.4z M485.8,317.1c-0.4-0.2-0.8-0.2-1.8-0.2h-3.1v3.7h3.1c1,0,1.4-0.1,1.8-0.2
                c0.6-0.3,1-0.8,1-1.6S486.4,317.4,485.8,317.1z M480.9,326.2h3.2c1,0,1.5-0.1,1.9-0.2c0.7-0.3,1.2-1,1.2-1.9c0-0.7-0.4-1.3-0.9-1.7
                c-0.6-0.4-1.3-0.4-2.2-0.4h-3.2V326.2z" />
              <path
                d="M494.7,325.9c-0.4-0.8-0.6-1.5-0.6-3.3v-7.1h1.6v7.1c0,1,0,2,0.4,2.7c0.4,0.7,1.4,1.2,2.6,1.2c1.2,0,2.1-0.4,2.6-1.2
                c0.4-0.7,0.4-1.7,0.4-2.7v-7.1h1.6v7.1c0,1.8-0.2,2.5-0.6,3.3c-0.8,1.3-2.2,1.9-3.9,1.9C496.9,327.8,495.5,327.2,494.7,325.9z" />
              <path d="M511,327.6h-1.6v-12.1h1.6V327.6z" />
              <path d="M524.9,327.6h-7.6v-12.1h1.6v10.7h6V327.6z" />
              <path d="M526.9,315.5h9v1.4h-3.7v10.7h-1.6v-10.7h-3.7V315.5z" />
              <path d="M549.4,327.6v-12.1h4.7c1.4,0,2,0.1,2.7,0.4c1,0.5,1.6,1.4,1.6,2.7c0,1.3-0.7,2.2-1.8,2.5c1.4,0.4,2.2,1.5,2.2,3
                c0,1.4-0.6,2.3-1.7,2.9c-0.6,0.3-1.3,0.5-2.9,0.5H549.4z M555.8,317.1c-0.4-0.2-0.8-0.2-1.8-0.2h-3.1v3.7h3.1c1,0,1.4-0.1,1.8-0.2
                c0.6-0.3,1-0.8,1-1.6S556.4,317.4,555.8,317.1z M550.9,326.2h3.2c1,0,1.5-0.1,1.9-0.2c0.7-0.3,1.2-1,1.2-1.9c0-0.7-0.4-1.3-0.9-1.7
                c-0.6-0.4-1.3-0.4-2.2-0.4h-3.2V326.2z" />
              <path d="M568.3,327.6h-1.6v-4.9l-4.4-7.2h1.8l3.5,5.7l3.5-5.7h1.8l-4.6,7.2V327.6z" />
            </g>
          </svg>
        </div>
      </div>
      <div class="footer__two">
        <div class="ftr-info">
          <div class="ftr-info__item">
            <div class="ftr-info__txt">LEASING AGENTS</div>
          </div>
          {# <div class="ftr-info__item">
            <div class="ftr-info__img-sm">
              <img src="img/savills.svg" alt="image icon">
            </div>
            <div class="ftr-info__txt">Andrew Barnes</div>
            <a href="tel:07980 915420" class="ftr-info__txt">07980 915420</a>
            <a href="mailto:andrew.barnes@savills.com" class="ftr-info__txt">andrew.barnes@savills.com</a>
          </div>
          <div class="ftr-info__item">
            <div class="ftr-info__img-md">
              <img src="img/cbre.svg" alt="image icon">
            </div>
            <div class="ftr-info__txt">Matt Chicken</div>
            <a href="tel:07852 205099" class="ftr-info__txt">07852 205099 </a>
            <a href="mailto:matt.chicken@cbre.com" class="ftr-info__txt">matt.chicken@cbre.com</a>
          </div> #}
          <div class="ftr-info__item ftr-info__grid ftr-info__grid_no-mob">
            <div class="ftr-info__grid-left">
              <div class="ftr-info__img-sm">
                <img src="img/savills.svg" alt="image icon">
              </div>
              <div class="ftr-info__txt">Andrew Barnes</div>
              <a href="tel:07980 915420" class="ftr-info__txt">07980 915420</a>
              <a href="mailto:andrew.barnes@savills.com" class="ftr-info__txt">andrew.barnes@savills.com</a>
            </div>
            <div class="ftr-info__grid-right">
              <div class="ftr-info__img-md">
                <img src="img/cbre.svg" alt="image icon">
              </div>
              <div class="ftr-info__txt">Matt Chicken</div>
              <a href="tel:07852 205099" class="ftr-info__txt">07852 205099 </a>
              <a href="mailto:matt.chicken@cbre.com" class="ftr-info__txt">matt.chicken@cbre.com</a>
            </div>
            <div class="ftr-info__grid-left hidden-mob">
              <div class="ftr-info__txt">hunter booth</div>
              <a href="tel:07852 205099" class="ftr-info__txt">+44 (0) 7710 965 693</a>
              <a href="mailto:hunter.booth@savills.com" class="ftr-info__txt">hunter.booth@savills.com</a>
            </div>
            <div class="ftr-info__grid-right hidden-mob">
              <div class="ftr-info__txt">Dan Hanmer</div>
              <a href="tel:07852 205099" class="ftr-info__txt">+44 (0)20 7182 3646</a>
              <a href="mailto:Dan.Hanmer@cbre.com" class="ftr-info__txt">Dan.Hanmer@cbre.com</a>
            </div>
            <div class="ftr-info__grid-left hidden-mob">
              <div class="ftr-info__txt">Hannah Buxton</div>
              <a href="tel:07852 205099" class="ftr-info__txt">+44 (0) 20 7075 2858</a>
              <a href="mailto:HBuxton@savills.com" class="ftr-info__txt">HBuxton@savills.com</a>
            </div>
            <div class="ftr-info__grid-right hidden-mob">
              <div class="ftr-info__txt">Alex Kerr</div>
              <a href="tel:07852 205099" class="ftr-info__txt">+44 (0)20 7182 2165</a>
              <a href="mailto:alex.kerr@cbre.com" class="ftr-info__txt">alex.kerr@cbre.com</a>
            </div>
          </div>
          <div class="ftr-info__item ftr-info__grid">
            <div class="ftr-info__grid-left">
              <div class="ftr-info__txt">1 kemble street</div>
              <div class="ftr-info__txt">LONDON wc2</div>
            </div>
            <div class="ftr-info__grid-right">
              <div class="ftr-info__txt ftr-info__txt_st"><a href="privacy.html">PRIVACY POLICY</a>, <a href="privacy.html">COOKIE POLICY</a>, <a href="privacy.html">DISCLAIMER</a>, <a href="privacy.html">CREDITS</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
