<div class="h-menu" id="h-menu">
  <div class="h-menu__inner">
    <div class="h-menu__box">
      <a href="space.html" class="h-menu__box-item">
        <div class="h-menu__box-item-inner">
          <div class="h-menu__box-txt"><span>THE VISION</span></div>
          <div class="h-menu__box-bg">
          </div>
        </div>
      </a>
      <a href="design.html" class="h-menu__box-item _light">
        <div class="h-menu__box-item-inner">
          <div class="h-menu__box-txt"><span>DESIGN ICON</span></div>
          <div class="h-menu__box-bg">
            <img src="img/menu1.jpg" alt="menu image">
          </div>
        </div>
      </a>
      <a href="covent.html" class="h-menu__box-item _light">
        <div class="h-menu__box-item-inner">
          <div class="h-menu__box-txt"><span>COVENT GARDEN</span></div>
          <div class="h-menu__box-bg">
            <img src="img/menu3.jpg" alt="menu image">
          </div>
        </div>
      </a>
      <a href="info.html" class="h-menu__box-item">
        <div class="h-menu__box-item-inner">
          <div class="h-menu__box-txt"><span>CONNECTIONS</span></div>
          <div class="h-menu__box-bg">
          </div>
        </div>
      </a>
      <a href="technical.html" class="h-menu__box-item">
        <div class="h-menu__box-item-inner">
          <div class="h-menu__box-txt"><span>TECHNICAL</span></div>
          <div class="h-menu__box-bg">
            <img src="img/menu2.jpg" alt="menu image">
          </div>
        </div>
      </a>
      <a href="gallery.html" class="h-menu__box-item">
        <div class="h-menu__box-item-inner">
          <div class="h-menu__box-txt"><span>DOWNLOADS</span></div>
          <div class="h-menu__box-bg">
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
