<div class="modal modal_st micromodal-slide" id="modal-1" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-modal-close>
		<div class="modal-content" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
			<div class="container" data-modal-close>

        <div class="modal-content__inner-scroll">
          <h2>Hello world</h2>
        </div>

			</div>
		</div>
	</div>
</div>

<div class="modal modal_gallery micromodal-slide" id="modal-gallery0" aria-hidden="true">

	<div class="modal-g">
		<div class="container">

      <div class="modal-g__inner">
        <div class="modal-g__cap">
          <button class="modal-g__open-dd">
            <div class="modal-g__open-dd-tt">OFFICE</div>
            <div class="modal-g__open-dd-icon">
              <img src="img/arrow-down.png" alt="icon">
            </div>
          </button>
          <div class="modal-g__close" data-modal-close></div>
          <div class="gallery-menu">
            <div class="modal-g__open-dd-icon modal-g__open-dd-icon--inner">
              <img src="img/close.png" alt="icon">
            </div>
            <div class="gallery-menu-list">
{#              <div class="modal-g__open-dd-icon modal-g__open-dd-icon--inner">#}
{#                <img src="img/close.png" alt="icon">#}
{#              </div>#}
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery1" data-modal-close>EXTERIOR</button>
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery2" data-modal-close>OFFICE SPACE</button>
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery3" data-modal-close>THE BRIDGE</button>
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery4" data-modal-close>FACILITIES</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-g__body" data-slider-gallery="modal-gallery0">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
            </div>
          </div>
          <div class="btn-slider-gallery-box">
            <button class="btn-slider-gallery btn-slider-gallery_prev"></button>
            <button class="btn-slider-gallery btn-slider-gallery_next"></button>
            <div class="swiper-fraction"></div>
          </div>
        </div>
        <div class="modal-g__footer">
          <div class="modal-g__btn">
            <a href="#" class="btn btn_border btn_md btn_mob-style">DOWNLOAD PDF</a>
          </div>
          <div class="modal-g__txt">
            <p>Each level of Space House provides equally inspiring spaces with unparalleled 360 views of London.</p>
          </div>
        </div>
      </div>

		</div>
	</div>

</div>

<div class="modal modal_gallery micromodal-slide" id="modal-gallery1" aria-hidden="true">

	<div class="modal-g">
		<div class="container">

      <div class="modal-g__inner">
        <div class="modal-g__cap">
          <button class="modal-g__open-dd">
            <div class="modal-g__open-dd-tt">EXTERIOR</div>
            <div class="modal-g__open-dd-icon">
              <img src="img/arrow-down.png" alt="icon">
            </div>
          </button>
          <div class="modal-g__close" data-modal-close></div>
          <div class="gallery-menu">
            <div class="gallery-menu-list">
              <div class="modal-g__open-dd-icon modal-g__open-dd-icon--inner">
                <img src="img/arrow-down.png" alt="icon">
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery0" data-modal-close>OFFICE</button>
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery2" data-modal-close>OFFICE SPACE</button>
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery3" data-modal-close>THE BRIDGE</button>
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery4" data-modal-close>FACILITIES</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-g__body" data-slider-gallery="modal-gallery1">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
            </div>
          </div>
          <div class="btn-slider-gallery-box">
            <button class="btn-slider-gallery btn-slider-gallery_prev"></button>
            <button class="btn-slider-gallery btn-slider-gallery_next"></button>
            <div class="swiper-fraction"></div>
          </div>
        </div>
        <div class="modal-g__footer">
          <div class="modal-g__btn">
            <a href="#" class="btn btn_border btn_md btn_mob-style">DOWNLOAD PDF</a>
          </div>
          <div class="modal-g__txt">
            <p>Each level of Space House provides equally inspiring spaces with unparalleled 360 views of London.</p>
          </div>
        </div>
      </div>

		</div>
	</div>

</div>

<div class="modal modal_gallery micromodal-slide" id="modal-gallery2" aria-hidden="true">

	<div class="modal-g">
		<div class="container">

      <div class="modal-g__inner">
        <div class="modal-g__cap">
          <button class="modal-g__open-dd">
            <div class="modal-g__open-dd-tt">OFFICE</div>
            <div class="modal-g__open-dd-icon">
              <img src="img/arrow-down.png" alt="icon">
            </div>
          </button>
          <div class="modal-g__close" data-modal-close></div>
          <div class="gallery-menu">
            <div class="gallery-menu-list">
              <div class="modal-g__open-dd-icon modal-g__open-dd-icon--inner">
                <img src="img/arrow-down.png" alt="icon">
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery0" data-modal-close>OFFICE</button>
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery1" data-modal-close>EXTERIOR SPACE</button>
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery3" data-modal-close>THE BRIDGE</button>
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery4" data-modal-close>FACILITIES</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-g__body" data-slider-gallery="modal-gallery2">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
            </div>
          </div>
          <div class="btn-slider-gallery-box">
            <button class="btn-slider-gallery btn-slider-gallery_prev"></button>
            <button class="btn-slider-gallery btn-slider-gallery_next"></button>
            <div class="swiper-fraction"></div>
          </div>
        </div>
        <div class="modal-g__footer">
          <div class="modal-g__btn">
            <a href="#" class="btn btn_border btn_md btn_mob-style">DOWNLOAD PDF</a>
          </div>
          <div class="modal-g__txt">
            <p>Each level of Space House provides equally inspiring spaces with unparalleled 360 views of London.</p>
          </div>
        </div>
      </div>

		</div>
	</div>

</div>

<div class="modal modal_gallery micromodal-slide" id="modal-gallery3" aria-hidden="true">

	<div class="modal-g">
		<div class="container">

      <div class="modal-g__inner">
        <div class="modal-g__cap">
          <button class="modal-g__open-dd">
            <div class="modal-g__open-dd-tt">THE BRIDGE</div>
            <div class="modal-g__open-dd-icon">
              <img src="img/arrow-down.png" alt="icon">
            </div>
          </button>
          <div class="modal-g__close" data-modal-close></div>
          <div class="gallery-menu">
            <div class="gallery-menu-list">
              <div class="modal-g__open-dd-icon modal-g__open-dd-icon--inner">
                <img src="img/arrow-down.png" alt="icon">
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery0" data-modal-close>OFFICE</button>
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery1" data-modal-close>EXTERIOR SPACE</button>
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery2" data-modal-close>OFFICE</button>
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery4" data-modal-close>FACILITIES</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-g__body" data-slider-gallery="modal-gallery3">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
            </div>
          </div>
          <div class="btn-slider-gallery-box">
            <button class="btn-slider-gallery btn-slider-gallery_prev"></button>
            <button class="btn-slider-gallery btn-slider-gallery_next"></button>
            <div class="swiper-fraction"></div>
          </div>
        </div>
        <div class="modal-g__footer">
          <div class="modal-g__btn">
            <a href="#" class="btn btn_border btn_md btn_mob-style">DOWNLOAD PDF</a>
          </div>
          <div class="modal-g__txt">
            <p>Each level of Space House provides equally inspiring spaces with unparalleled 360 views of London.</p>
          </div>
        </div>
      </div>

		</div>
	</div>

</div>

<div class="modal modal_gallery micromodal-slide" id="modal-gallery4" aria-hidden="true">

	<div class="modal-g">
		<div class="container">

      <div class="modal-g__inner">
        <div class="modal-g__cap">
          <button class="modal-g__open-dd">
            <div class="modal-g__open-dd-tt">FACILITIES</div>
            <div class="modal-g__open-dd-icon">
              <img src="img/arrow-down.png" alt="icon">
            </div>
          </button>
          <div class="modal-g__close" data-modal-close></div>
          <div class="gallery-menu">
            <div class="gallery-menu-list">
              <div class="modal-g__open-dd-icon modal-g__open-dd-icon--inner">
                <img src="img/arrow-down.png" alt="icon">
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery0" data-modal-close>OFFICE</button>
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery1" data-modal-close>EXTERIOR SPACE</button>
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery2" data-modal-close>OFFICE</button>
              </div>
              <div class="gallery-menu__item">
                <button class="gallery-menu__item-btn" data-modal-open="modal-gallery3" data-modal-close>THE BRIDGE</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-g__body" data-slider-gallery="modal-gallery4">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
              <div class="swiper-slide">
                <img src="img/bg1.jpg" alt="img">
              </div>
            </div>
          </div>
          <div class="btn-slider-gallery-box">
            <button class="btn-slider-gallery btn-slider-gallery_prev"></button>
            <button class="btn-slider-gallery btn-slider-gallery_next"></button>
            <div class="swiper-fraction"></div>
          </div>
        </div>
        <div class="modal-g__footer">
          <div class="modal-g__btn">
            <a href="#" class="btn btn_border btn_md btn_mob-style">DOWNLOAD PDF</a>
          </div>
          <div class="modal-g__txt">
            <p>Each level of Space House provides equally inspiring spaces with unparalleled 360 views of London.</p>
          </div>
        </div>
      </div>

		</div>
	</div>

</div>
