---
title: Pages - Space House
description: Space House description
pageName: technicalPage
<!-- className: header-light -->
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}



<div id="fullpage" class="gallery-bg">
  <!-- fp-auto-height scroll-auto -->
  <div class="section section_technical" data-anchor="header">

    {% include "blocks/_header.twig" %}
    {% include "blocks/_header-menu.twig" %}

    <iframe src="https://space-house.blueprint-platform.co.uk/" frameborder="0"></iframe>


  </div>

</div>

{% endblock %}
