/* ----- Pushes vert ------------------- */

.m-- {
  &01 {
    margin: 5px 0;
  }
  &1 {
    margin: 10px 0;
  }
  &02 {
    margin: 15px 0;
  }
  &2 {
    margin: 20px 0;
  }
  &03 {
    margin: 25px 0;
  }
  &3 {
    margin: 30px 0;
  }
  &04 {
    margin: 35px 0;
  }
  &4 {
    margin: 40px 0;
  }
  &05 {
    margin: 45px 0;
  }
  &5 {
    margin: 50px 0;
  }
  &06 {
    margin: 55px 0;
  }
  &6 {
    margin: 60px 0;
  }
  &07 {
    margin: 65px 0;
  }
  &7 {
    margin: 70px 0;
  }
  &08 {
    margin: 75px 0;
  }
  &8 {
    margin: 80px 0;
  }
  &09 {
    margin: 85px 0;
  }
  &9 {
    margin: 90px 0;
  }
  &10 {
    margin: 100px 0;
  }
  &11 {
    margin: 110px 0;
  }
  &12 {
    margin: 120px 0;
  }
}

.mt-- {
  &1 {
    margin-top: 10px;
  }
  &2 {
    margin-top: 20px;
  }
  &3 {
    margin-top: 30px;
  }
  &4 {
    margin-top: 40px;
  }
  &5 {
    margin-top: 50px;
  }
  &6 {
    margin-top: 60px;
  }
  &7 {
    margin-top: 70px;
  }
  &8 {
    margin-top: 80px;
  }
  &9 {
    margin-top: 90px;
  }
  &10 {
    margin-top: 100px;
  }
  &11 {
    margin-top: 110px;
  }
  &12 {
    margin-top: 120px;
  }
}

.mt-- {
  &01 {
    margin-top: 5px;
  }
  &02 {
    margin-top: 15px;
  }
  &03 {
    margin-top: 25px;
  }
  &04 {
    margin-top: 35px;
  }
  &05 {
    margin-top: 45px;
  }
  &06 {
    margin-top: 55px;
  }
  &07 {
    margin-top: 65px;
  }
  &08 {
    margin-top: 75px;
  }
  &09 {
    margin-top: 85px;
  }
  &010 {
    margin-top: 95px;
  }
  &011 {
    margin-top: 105px;
  }
  &012 {
    margin-top: 115px;
  }
}

.mb-- {
  &1 {
    margin-bottom: 10px;
  }
  &2 {
    margin-bottom: 20px;
  }
  &3 {
    margin-bottom: 30px;
  }
  &4 {
    margin-bottom: 40px;
  }
  &5 {
    margin-bottom: 50px;
  }
  &6 {
    margin-bottom: 60px;
  }
  &7 {
    margin-bottom: 70px;
  }
  &8 {
    margin-bottom: 80px;
  }
  &9 {
    margin-bottom: 90px;
  }
  &10 {
    margin-bottom: 100px;
  }
  &11 {
    margin-bottom: 110px;
  }
  &12 {
    margin-bottom: 120px;
  }
}

.mb-- {
  &01 {
    margin-bottom: 5px;
  }
  &02 {
    margin-bottom: 15px;
  }
  &03 {
    margin-bottom: 25px;
  }
  &04 {
    margin-bottom: 35px;
  }
  &05 {
    margin-bottom: 45px;
  }
  &06 {
    margin-bottom: 55px;
  }
  &07 {
    margin-bottom: 65px;
  }
  &08 {
    margin-bottom: 75px;
  }
  &09 {
    margin-bottom: 85px;
  }
  &010 {
    margin-bottom: 95px;
  }
  &011 {
    margin-bottom: 105px;
  }
  &012 {
    margin-bottom: 115px;
  }
}

.p-- {
  &1 {
    padding: 10px 0;
  }
  &2 {
    padding: 20px 0;
  }
  &3 {
    padding: 30px 0;
  }
  &4 {
    padding: 40px 0;
  }
  &5 {
    padding: 50px 0;
  }
  &6 {
    padding: 60px 0;
  }
  &7 {
    padding: 70px 0;
  }
  &8 {
    padding: 80px 0;
  }
  &9 {
    padding: 90px 0;
  }
  &10 {
    padding: 100px 0;
  }
  &11 {
    padding: 110px 0;
  }
  &12 {
    padding: 120px 0;
  }
}

.p-- {
  &01 {
    padding: 5px 0;
  }
  &02 {
    padding: 15px 0;
  }
  &03 {
    padding: 25px 0;
  }
  &04 {
    padding: 35px 0;
  }
  &05 {
    padding: 45px 0;
  }
  &06 {
    padding: 55px 0;
  }
  &07 {
    padding: 65px 0;
  }
  &08 {
    padding: 75px 0;
  }
  &09 {
    padding: 85px 0;
  }
  &010 {
    padding: 95px 0;
  }
  &011 {
    padding: 105px 0;
  }
  &012 {
    padding: 115px 0;
  }
}

.pt-- {
  &1 {
    padding-top: 10px;
  }
  &2 {
    padding-top: 20px;
  }
  &3 {
    padding-top: 30px;
  }
  &4 {
    padding-top: 40px;
  }
  &5 {
    padding-top: 50px;
  }
  &6 {
    padding-top: 60px;
  }
  &7 {
    padding-top: 70px;
  }
  &8 {
    padding-top: 80px;
  }
  &9 {
    padding-top: 90px;
  }
  &10 {
    padding-top: 100px;
  }
  &11 {
    padding-top: 110px;
  }
  &12 {
    padding-top: 120px;
  }
}

.pt-- {
  &01 {
    padding-top: 5px;
  }
  &02 {
    padding-top: 15px;
  }
  &03 {
    padding-top: 25px;
  }
  &04 {
    padding-top: 35px;
  }
  &05 {
    padding-top: 45px;
  }
  &06 {
    padding-top: 55px;
  }
  &07 {
    padding-top: 65px;
  }
  &08 {
    padding-top: 75px;
  }
  &09 {
    padding-top: 85px;
  }
  &010 {
    padding-top: 95px;
  }
  &011 {
    padding-top: 105px;
  }
  &012 {
    padding-top: 115px;
  }
}

.pb-- {
  &1 {
    padding-bottom: 10px;
  }
  &2 {
    padding-bottom: 20px;
  }
  &3 {
    padding-bottom: 30px;
  }
  &4 {
    padding-bottom: 40px;
  }
  &5 {
    padding-bottom: 50px;
  }
  &6 {
    padding-bottom: 60px;
  }
  &7 {
    padding-bottom: 70px;
  }
  &8 {
    padding-bottom: 80px;
  }
  &9 {
    padding-bottom: 90px;
  }
  &10 {
    padding-bottom: 100px;
  }
  &11 {
    padding-bottom: 110px;
  }
  &12 {
    padding-bottom: 120px;
  }
}

.pb-- {
  &01 {
    padding-bottom: 5px;
  }
  &02 {
    padding-bottom: 15px;
  }
  &03 {
    padding-bottom: 25px;
  }
  &04 {
    padding-bottom: 35px;
  }
  &05 {
    padding-bottom: 45px;
  }
  &06 {
    padding-bottom: 55px;
  }
  &07 {
    padding-bottom: 65px;
  }
  &08 {
    padding-bottom: 75px;
  }
  &09 {
    padding-bottom: 85px;
  }
  &010 {
    padding-bottom: 95px;
  }
  &011 {
    padding-bottom: 105px;
  }
  &012 {
    padding-bottom: 115px;
  }
}



@media (max-width: $lg) {
  .m-- {
    &1-tb {
      margin: 10px 0;
    }
    &2-tb {
      margin: 20px 0;
    }
    &3-tb {
      margin: 30px 0;
    }
    &4-tb {
      margin: 40px 0;
    }
    &5-tb {
      margin: 50px 0;
    }
    &6-tb {
      margin: 60px 0;
    }
    &7-tb {
      margin: 70px 0;
    }
    &8-tb {
      margin: 80px 0;
    }
    &9-tb {
      margin: 90px 0;
    }
    &10-tb {
      margin: 100px 0;
    }
    &11-tb {
      margin: 110px 0;
    }
    &12-tb {
      margin: 120px 0;
    }
  }

  .m-- {
    &01-tb {
      margin: 5px 0;
    }
    &02-tb {
      margin: 15px 0;
    }
    &03-tb {
      margin: 25px 0;
    }
    &04-tb {
      margin: 35px 0;
    }
    &05-tb {
      margin: 45px 0;
    }
    &06-tb {
      margin: 55px 0;
    }
    &07-tb {
      margin: 65px 0;
    }
    &08-tb {
      margin: 75px 0;
    }
    &09-tb {
      margin: 85px 0;
    }
    &010-tb {
      margin: 95px 0;
    }
    &011-tb {
      margin: 105px 0;
    }
    &012-tb {
      margin: 115px 0;
    }
  }

  .mt-- {
    &1-tb {
      margin-top: 10px;
    }
    &2-tb {
      margin-top: 20px;
    }
    &3-tb {
      margin-top: 30px;
    }
    &4-tb {
      margin-top: 40px;
    }
    &5-tb {
      margin-top: 50px;
    }
    &6-tb {
      margin-top: 60px;
    }
    &7-tb {
      margin-top: 70px;
    }
    &8-tb {
      margin-top: 80px;
    }
    &9-tb {
      margin-top: 90px;
    }
    &10-tb {
      margin-top: 100px;
    }
    &11-tb {
      margin-top: 110px;
    }
    &12-tb {
      margin-top: 120px;
    }
  }

  .mt-- {
    &01-tb {
      margin-top: 5px;
    }
    &02-tb {
      margin-top: 15px;
    }
    &03-tb {
      margin-top: 25px;
    }
    &04-tb {
      margin-top: 35px;
    }
    &05-tb {
      margin-top: 45px;
    }
    &06-tb {
      margin-top: 55px;
    }
    &07-tb {
      margin-top: 65px;
    }
    &08-tb {
      margin-top: 75px;
    }
    &09-tb {
      margin-top: 85px;
    }
    &010-tb {
      margin-top: 95px;
    }
    &011-tb {
      margin-top: 105px;
    }
    &012-tb {
      margin-top: 115px;
    }
  }

  .mb-- {
    &1-tb {
      margin-bottom: 10px;
    }
    &2-tb {
      margin-bottom: 20px;
    }
    &3-tb {
      margin-bottom: 30px;
    }
    &4-tb {
      margin-bottom: 40px;
    }
    &5-tb {
      margin-bottom: 50px;
    }
    &6-tb {
      margin-bottom: 60px;
    }
    &7-tb {
      margin-bottom: 70px;
    }
    &8-tb {
      margin-bottom: 80px;
    }
    &9-tb {
      margin-bottom: 90px;
    }
    &10-tb {
      margin-bottom: 100px;
    }
    &11-tb {
      margin-bottom: 110px;
    }
    &12-tb {
      margin-bottom: 120px;
    }
  }

  .mb-- {
    &01-tb {
      margin-bottom: 5px;
    }
    &02-tb {
      margin-bottom: 15px;
    }
    &03-tb {
      margin-bottom: 25px;
    }
    &04-tb {
      margin-bottom: 35px;
    }
    &05-tb {
      margin-bottom: 45px;
    }
    &06-tb {
      margin-bottom: 55px;
    }
    &07-tb {
      margin-bottom: 65px;
    }
    &08-tb {
      margin-bottom: 75px;
    }
    &09-tb {
      margin-bottom: 85px;
    }
    &010-tb {
      margin-bottom: 95px;
    }
    &011-tb {
      margin-bottom: 105px;
    }
    &012-tb {
      margin-bottom: 115px;
    }
  }

  .p-- {
    &1-tb {
      padding: 10px 0;
    }
    &2-tb {
      padding: 20px 0;
    }
    &3-tb {
      padding: 30px 0;
    }
    &4-tb {
      padding: 40px 0;
    }
    &5-tb {
      padding: 50px 0;
    }
    &6-tb {
      padding: 60px 0;
    }
    &7-tb {
      padding: 70px 0;
    }
    &8-tb {
      padding: 80px 0;
    }
    &9-tb {
      padding: 90px 0;
    }
    &10-tb {
      padding: 100px 0;
    }
    &11-tb {
      padding: 110px 0;
    }
    &12-tb {
      padding: 120px 0;
    }
  }

  .p-- {
    &01-tb {
      padding: 5px 0;
    }
    &02-tb {
      padding: 15px 0;
    }
    &03-tb {
      padding: 25px 0;
    }
    &04-tb {
      padding: 35px 0;
    }
    &05-tb {
      padding: 45px 0;
    }
    &06-tb {
      padding: 55px 0;
    }
    &07-tb {
      padding: 65px 0;
    }
    &08-tb {
      padding: 75px 0;
    }
    &09-tb {
      padding: 85px 0;
    }
    &010-tb {
      padding: 95px 0;
    }
    &011-tb {
      padding: 105px 0;
    }
    &012-tb {
      padding: 115px 0;
    }
  }

  .pt-- {
    &1-tb {
      padding-top: 10px;
    }
    &2-tb {
      padding-top: 20px;
    }
    &3-tb {
      padding-top: 30px;
    }
    &4-tb {
      padding-top: 40px;
    }
    &5-tb {
      padding-top: 50px;
    }
    &6-tb {
      padding-top: 60px;
    }
    &7-tb {
      padding-top: 70px;
    }
    &8-tb {
      padding-top: 80px;
    }
    &9-tb {
      padding-top: 90px;
    }
    &10-tb {
      padding-top: 100px;
    }
    &11-tb {
      padding-top: 110px;
    }
    &12-tb {
      padding-top: 120px;
    }
  }

  .pt-- {
    &01-tb {
      padding-top: 5px;
    }
    &02-tb {
      padding-top: 15px;
    }
    &03-tb {
      padding-top: 25px;
    }
    &04-tb {
      padding-top: 35px;
    }
    &05-tb {
      padding-top: 45px;
    }
    &06-tb {
      padding-top: 55px;
    }
    &07-tb {
      padding-top: 65px;
    }
    &08-tb {
      padding-top: 75px;
    }
    &09-tb {
      padding-top: 85px;
    }
    &010-tb {
      padding-top: 95px;
    }
    &011-tb {
      padding-top: 105px;
    }
    &012-tb {
      padding-top: 115px;
    }
  }

  .pb-- {
    &1-tb {
      padding-bottom: 10px;
    }
    &2-tb {
      padding-bottom: 20px;
    }
    &3-tb {
      padding-bottom: 30px;
    }
    &4-tb {
      padding-bottom: 40px;
    }
    &5-tb {
      padding-bottom: 50px;
    }
    &6-tb {
      padding-bottom: 60px;
    }
    &7-tb {
      padding-bottom: 70px;
    }
    &8-tb {
      padding-bottom: 80px;
    }
    &9-tb {
      padding-bottom: 90px;
    }
    &10-tb {
      padding-bottom: 100px;
    }
    &11-tb {
      padding-bottom: 110px;
    }
    &12-tb {
      padding-bottom: 120px;
    }
  }

  .pb-- {
    &01-tb {
      padding-bottom: 5px;
    }
    &02-tb {
      padding-bottom: 15px;
    }
    &03-tb {
      padding-bottom: 25px;
    }
    &04-tb {
      padding-bottom: 35px;
    }
    &05-tb {
      padding-bottom: 45px;
    }
    &06-tb {
      padding-bottom: 55px;
    }
    &07-tb {
      padding-bottom: 65px;
    }
    &08-tb {
      padding-bottom: 75px;
    }
    &09-tb {
      padding-bottom: 85px;
    }
    &010-tb {
      padding-bottom: 95px;
    }
    &011-tb {
      padding-bottom: 105px;
    }
    &012-tb {
      padding-bottom: 115px;
    }
  }
}

@media (max-width: $md) {
  .m-- {
    &1-mb {
      margin: 10px 0;
    }
    &2-mb {
      margin: 20px 0;
    }
    &3-mb {
      margin: 30px 0;
    }
    &4-mb {
      margin: 40px 0;
    }
    &5-mb {
      margin: 50px 0;
    }
    &6-mb {
      margin: 60px 0;
    }
    &7-mb {
      margin: 70px 0;
    }
    &8-mb {
      margin: 80px 0;
    }
    &9-mb {
      margin: 90px 0;
    }
    &10-mb {
      margin: 100px 0;
    }
    &11-mb {
      margin: 110px 0;
    }
    &12-mb {
      margin: 120px 0;
    }
  }

  .m-- {
    &01-mb {
      margin: 5px 0;
    }
    &02-mb {
      margin: 15px 0;
    }
    &03-mb {
      margin: 25px 0;
    }
    &04-mb {
      margin: 35px 0;
    }
    &05-mb {
      margin: 45px 0;
    }
    &06-mb {
      margin: 55px 0;
    }
    &07-mb {
      margin: 65px 0;
    }
    &08-mb {
      margin: 75px 0;
    }
    &09-mb {
      margin: 85px 0;
    }
    &010-mb {
      margin: 95px 0;
    }
    &011-mb {
      margin: 105px 0;
    }
    &012-mb {
      margin: 115px 0;
    }
  }

  .mt-- {
    &1-mb {
      margin-top: 10px;
    }
    &2-mb {
      margin-top: 20px;
    }
    &3-mb {
      margin-top: 30px;
    }
    &4-mb {
      margin-top: 40px;
    }
    &5-mb {
      margin-top: 50px;
    }
    &6-mb {
      margin-top: 60px;
    }
    &7-mb {
      margin-top: 70px;
    }
    &8-mb {
      margin-top: 80px;
    }
    &9-mb {
      margin-top: 90px;
    }
    &10-mb {
      margin-top: 100px;
    }
    &11-mb {
      margin-top: 110px;
    }
    &12-mb {
      margin-top: 120px;
    }
  }

  .mt-- {
    &01-mb {
      margin-top: 5px;
    }
    &02-mb {
      margin-top: 15px;
    }
    &03-mb {
      margin-top: 25px;
    }
    &04-mb {
      margin-top: 35px;
    }
    &05-mb {
      margin-top: 45px;
    }
    &06-mb {
      margin-top: 55px;
    }
    &07-mb {
      margin-top: 65px;
    }
    &08-mb {
      margin-top: 75px;
    }
    &09-mb {
      margin-top: 85px;
    }
    &010-mb {
      margin-top: 95px;
    }
    &011-mb {
      margin-top: 105px;
    }
    &012-mb {
      margin-top: 115px;
    }
  }

  .mb-- {
    &1-mb {
      margin-bottom: 10px;
    }
    &2-mb {
      margin-bottom: 20px;
    }
    &3-mb {
      margin-bottom: 30px;
    }
    &4-mb {
      margin-bottom: 40px;
    }
    &5-mb {
      margin-bottom: 50px;
    }
    &6-mb {
      margin-bottom: 60px;
    }
    &7-mb {
      margin-bottom: 70px;
    }
    &8-mb {
      margin-bottom: 80px;
    }
    &9-mb {
      margin-bottom: 90px;
    }
    &10-mb {
      margin-bottom: 100px;
    }
    &11-mb {
      margin-bottom: 110px;
    }
    &12-mb {
      margin-bottom: 120px;
    }
  }

  .mb-- {
    &01-mb {
      margin-bottom: 5px;
    }
    &02-mb {
      margin-bottom: 15px;
    }
    &03-mb {
      margin-bottom: 25px;
    }
    &04-mb {
      margin-bottom: 35px;
    }
    &05-mb {
      margin-bottom: 45px;
    }
    &06-mb {
      margin-bottom: 55px;
    }
    &07-mb {
      margin-bottom: 65px;
    }
    &08-mb {
      margin-bottom: 75px;
    }
    &09-mb {
      margin-bottom: 85px;
    }
    &010-mb {
      margin-bottom: 95px;
    }
    &011-mb {
      margin-bottom: 105px;
    }
    &012-mb {
      margin-bottom: 115px;
    }
  }

  .p-- {
    &1-mb {
      padding: 10px 0;
    }
    &2-mb {
      padding: 20px 0;
    }
    &3-mb {
      padding: 30px 0;
    }
    &4-mb {
      padding: 40px 0;
    }
    &5-mb {
      padding: 50px 0;
    }
    &6-mb {
      padding: 60px 0;
    }
    &7-mb {
      padding: 70px 0;
    }
    &8-mb {
      padding: 80px 0;
    }
    &9-mb {
      padding: 90px 0;
    }
    &10-mb {
      padding: 100px 0;
    }
    &11-mb {
      padding: 110px 0;
    }
    &12-mb {
      padding: 120px 0;
    }
  }

  .p-- {
    &01-mb {
      padding: 5px 0;
    }
    &02-mb {
      padding: 15px 0;
    }
    &03-mb {
      padding: 25px 0;
    }
    &04-mb {
      padding: 35px 0;
    }
    &05-mb {
      padding: 45px 0;
    }
    &06-mb {
      padding: 55px 0;
    }
    &07-mb {
      padding: 65px 0;
    }
    &08-mb {
      padding: 75px 0;
    }
    &09-mb {
      padding: 85px 0;
    }
    &010-mb {
      padding: 95px 0;
    }
    &011-mb {
      padding: 105px 0;
    }
    &012-mb {
      padding: 115px 0;
    }
  }

  .pt-- {
    &1-mb {
      padding-top: 10px;
    }
    &2-mb {
      padding-top: 20px;
    }
    &3-mb {
      padding-top: 30px;
    }
    &4-mb {
      padding-top: 40px;
    }
    &5-mb {
      padding-top: 50px;
    }
    &6-mb {
      padding-top: 60px;
    }
    &7-mb {
      padding-top: 70px;
    }
    &8-mb {
      padding-top: 80px;
    }
    &9-mb {
      padding-top: 90px;
    }
    &10-mb {
      padding-top: 100px;
    }
    &11-mb {
      padding-top: 110px;
    }
    &12-mb {
      padding-top: 120px;
    }
  }

  .pt-- {
    &01-mb {
      padding-top: 5px;
    }
    &02-mb {
      padding-top: 15px;
    }
    &03-mb {
      padding-top: 25px;
    }
    &04-mb {
      padding-top: 35px;
    }
    &05-mb {
      padding-top: 45px;
    }
    &06-mb {
      padding-top: 55px;
    }
    &07-mb {
      padding-top: 65px;
    }
    &08-mb {
      padding-top: 75px;
    }
    &09-mb {
      padding-top: 85px;
    }
    &010-mb {
      padding-top: 95px;
    }
    &011-mb {
      padding-top: 105px;
    }
    &012-mb {
      padding-top: 115px;
    }
  }

  .pb-- {
    &1-mb {
      padding-bottom: 10px;
    }
    &2-mb {
      padding-bottom: 20px;
    }
    &3-mb {
      padding-bottom: 30px;
    }
    &4-mb {
      padding-bottom: 40px;
    }
    &5-mb {
      padding-bottom: 50px;
    }
    &6-mb {
      padding-bottom: 60px;
    }
    &7-mb {
      padding-bottom: 70px;
    }
    &8-mb {
      padding-bottom: 80px;
    }
    &9-mb {
      padding-bottom: 90px;
    }
    &10-mb {
      padding-bottom: 100px;
    }
    &11-mb {
      padding-bottom: 110px;
    }
    &12-mb {
      padding-bottom: 120px;
    }
  }

  .pb-- {
    &01-mb {
      padding-bottom: 5px;
    }
    &02-mb {
      padding-bottom: 15px;
    }
    &03-mb {
      padding-bottom: 25px;
    }
    &04-mb {
      padding-bottom: 35px;
    }
    &05-mb {
      padding-bottom: 45px;
    }
    &06-mb {
      padding-bottom: 55px;
    }
    &07-mb {
      padding-bottom: 65px;
    }
    &08-mb {
      padding-bottom: 75px;
    }
    &09-mb {
      padding-bottom: 85px;
    }
    &010-mb {
      padding-bottom: 95px;
    }
    &011-mb {
      padding-bottom: 105px;
    }
    &012-mb {
      padding-bottom: 115px;
    }
  }
}

/* Min width 1024 pixels */
@media only screen and (min-width: 1025px) {
  .hidden-desk {
    display: none !important;
  }
}
/* end media min width 1024 pixels */

/* Min width 768 pixels */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hidden-tabl {
    display: none !important;
  }
}
/* end media min width 768 pixels */

/* Min width 768 pixels */
@media only screen and (max-width: 767px) {
  .hidden-mob {
    display: none !important;
  }
}
/* end media min width 768 pixels */

/* ----- END Pushes vert --------------- */
/*-------------------------------------*/
/*-------------------------------------*/
