<div class="my-bg">
  <img src="img/bg14.jpg" alt="image">
</div>
<div class="covent-banner-wrapp">
  <div class="container">
    <div class="covent-banner" data-anim-fadey>
      <div class="covent-banner__left">
        <div class="tt-site tt-site_h1" data-anim-fadel="0.4">AN ICON  <br>
          OF THE  <br>
          WEST END</div>
      </div>
      <div class="covent-banner__right">
        <div class="covent-banner__tt" data-anim-fader="0.8">
          <div class="tt-site tt-site_h3">LOCAL AREA</div>
        </div>
        <div class="covent-banner__txt txt-md" data-anim-fader="1.2">
          <p>Located in Covent Garden, Space House stands
            at London’s iconic crossroads of culture and creativity, drawing a vibrant and eclectic crowd. There’s always something to see, taste and do, whether after work or over lunch, by yourself or
            with colleagues and clients. </p>
        </div>
      </div>
    </div>
  </div>
</div>
