<div class="section section-my-map scroll-auto fp-auto-height">
  <div class="grid-local">
    <div class="grid-local__map">
      <div class="main-map-wrapp">
        <div class="main-map main-map--init" data-anim-fadel></div>
      </div>
    </div>
    <div class="grid-local__info">
      <div class="info-local">
        <div class="info-local__cap">
          <div class="info-local__tt" data-anim-fader>
            <div class="tt-site tt-site_h3 tt-site_h3_mb-sm">LOCAL AREA</div>
          </div>
          <div class="info-local__txt txt-md" data-anim-fader>
            <p>Located in Covent Garden, Space House stands <br> at London’s iconic crossroads of culture and creativity, drawing a vibrant and eclectic crowd. There’s always something to see, taste and do, whether after work or over lunch, by yourself or <br> with colleagues and clients. </p>
          </div>
        </div>

        <div class="info-local__inner">
          <div class="info-local__filter">
            <div class="point-local" data-marker-color="#000">
              <div class="point-local__value" data-anim-fader></div>
              <div class="point-local__name" data-anim-fader="0.4">RESTAURANTS</div>
            </div>
            <div class="point-local" data-marker-color="#C3BFB6">
              <div class="point-local__value" data-anim-fader></div>
              <div class="point-local__name" data-anim-fader="0.4">BARS</div>
            </div>
            <div class="point-local" data-marker-color="#EAD2BC">
              <div class="point-local__value" data-anim-fader></div>
              <div class="point-local__name" data-anim-fader="0.4">HEALTH</div>
            </div>
            <div class="point-local" data-marker-color="#A5B6B5">
              <div class="point-local__value" data-anim-fader></div>
              <div class="point-local__name" data-anim-fader="0.4">RETAIL</div>
            </div>
          </div>
          <div class="info-local__body">
            <div class="info-local__body-item" data-lat="34.879806" data-lng="-111.8265049" data-marker-color="#C3BFB6" data-marker-color-txt="#000">
              <div class="point-local">
                <div class="point-local__value" data-anim-fader></div>
                <div class="point-local__name" data-anim-fader="0.4">SEVEN DIALS</div>
              </div>
              <div class="info-local__img" data-anim-fader>
                <img src="img/img23.jpg" alt="image">
              </div>
              <div class="info-local__txt">
                <p data-anim-fader>Located in Covent Garden, Space House stands <br> at London’s iconic crossroads of culture and creativity, drawing a vibrant and eclectic crowd. There’s always something to see, taste and do, whether after work or over lunch, by yourself or <br> with colleagues and clients. </p>
                <p data-anim-fader>Located in Covent Garden, Space House stands <br> at London’s iconic crossroads of culture and creativity, drawing a vibrant and eclectic crowd. There’s always something to see, taste and do, whether after work or over lunch, by yourself or <br> with colleagues and clients. </p>
              </div>
            </div>
            <div class="info-local__body-item" data-lat="34.8559195" data-lng="-111.7988186" data-marker-color="#EAD2BC" data-marker-color-txt="#000">
              <div class="point-local">
                <div class="point-local__value" data-anim-fader></div>
                <div class="point-local__name" data-anim-fader="0.4">SEVEN DIALS</div>
              </div>
              <div class="info-local__img" data-anim-fader>
                <img src="img/img23.jpg" alt="image">
              </div>
              <div class="info-local__txt" data-anim-fader>
                <p>Located in Covent Garden, Space House stands <br> at London’s iconic crossroads of culture and creativity, drawing a vibrant and eclectic crowd. There’s always something to see, taste and do, whether after work or over lunch, by yourself or <br> with colleagues and clients. </p>
              </div>
            </div>
            <div class="info-local__body-item" data-lat="34.832149" data-lng="-111.7695277" data-marker-color="#A5B6B5" data-marker-color-txt="#000">
              <div class="point-local">
                <div class="point-local__value" data-anim-fader></div>
                <div class="point-local__name" data-anim-fader="0.4">SEVEN DIALS</div>
              </div>
              <div class="info-local__img" data-anim-fader>
                <img src="img/img23.jpg" alt="image">
              </div>
              <div class="info-local__txt" data-anim-fader>
                <p>Located in Covent Garden, Space House stands <br> at London’s iconic crossroads of culture and creativity, drawing a vibrant and eclectic crowd. There’s always something to see, taste and do, whether after work or over lunch, by yourself or <br> with colleagues and clients. </p>
              </div>
            </div>
            <div class="info-local__body-item" data-lat="34.823736" data-lng="-111.8001857" data-marker-color="#000000" data-marker-color-txt="#fff">
              <div class="point-local">
                <div class="point-local__value" data-anim-fader></div>
                <div class="point-local__name" data-anim-fader="0.4">SEVEN DIALS</div>
              </div>
              <div class="info-local__img" data-anim-fader>
                <img src="img/img23.jpg" alt="image">
              </div>
              <div class="info-local__txt" data-anim-fader>
                <p>Located in Covent Garden, Space House stands <br> at London’s iconic crossroads of culture and creativity, drawing a vibrant and eclectic crowd. There’s always something to see, taste and do, whether after work or over lunch, by yourself or <br> with colleagues and clients. </p>
              </div>
            </div>
            <div class="info-local__body-item" data-lat="34.833736" data-lng="-111.8201857" data-marker-color="#000000" data-marker-color-txt="#fff">
              <div class="point-local">
                <div class="point-local__value" data-anim-fader></div>
                <div class="point-local__name" data-anim-fader="0.4">SEVEN DIALS</div>
              </div>
              <div class="info-local__img" data-anim-fader>
                <img src="img/img23.jpg" alt="image">
              </div>
              <div class="info-local__txt" data-anim-fader>
                <p>Located in Covent Garden, Space House stands <br> at London’s iconic crossroads of culture and creativity, drawing a vibrant and eclectic crowd. There’s always something to see, taste and do, whether after work or over lunch, by yourself or <br> with colleagues and clients. </p>
              </div>
            </div>
            <div class="info-local__body-item" data-lat="34.813736" data-lng="-111.8031857" data-marker-color="#000000" data-marker-color-txt="#fff">
              <div class="point-local">
                <div class="point-local__value" data-anim-fader></div>
                <div class="point-local__name" data-anim-fader="0.4">SEVEN DIALS</div>
              </div>
              <div class="info-local__img" data-anim-fader>
                <img src="img/img23.jpg" alt="image">
              </div>
              <div class="info-local__txt" data-anim-fader>
                <p>Located in Covent Garden, Space House stands <br> at London’s iconic crossroads of culture and creativity, drawing a vibrant and eclectic crowd. There’s always something to see, taste and do, whether after work or over lunch, by yourself or <br> with colleagues and clients. </p>
              </div>
            </div>
            <div class="info-local__body-item" data-lat="34.813736" data-lng="-111.8501857" data-marker-color="#000000" data-marker-color-txt="#fff">
              <div class="point-local">
                <div class="point-local__value" data-anim-fader></div>
                <div class="point-local__name" data-anim-fader="0.4">SEVEN DIALS</div>
              </div>
              <div class="info-local__img" data-anim-fader>
                <img src="img/img23.jpg" alt="image">
              </div>
              <div class="info-local__txt" data-anim-fader>
                <p>Located in Covent Garden, Space House stands <br> at London’s iconic crossroads of culture and creativity, drawing a vibrant and eclectic crowd. There’s always something to see, taste and do, whether after work or over lunch, by yourself or <br> with colleagues and clients. </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwDe3v8qScfLQ7fe4NMwHZUBzyQCviuU4"></script>

<script>
  // window.locationsJSON = 'uploads/map.json';
  // let urlMarkerMap = 'img/marker-map.svg';
  // let urlMarkerMapActive = 'img/marker-map-active.svg';
  let officeLat = '34.89';
  let officeLng = '-111.80';
  let officeMarkerMap = 'img/marker-map-office.svg';
</script>
