<div class="section section-my-built scroll-auto fp-auto-height" data-anchor="slide23">
  <div class="section__full">
    <div class="container">

      <div class="main-grid-react2">
        <div class="main-grid-react__img">
          <div class="main-grid-react__img-inner" data-anim-zoom>
            <div class="bl-video bl-video_22">
              <!-- <img src="img/img17.jpg" alt="image"> -->

              <div class="slider-range-img" data-slider-range-img data-anim-zoom>
                <div class='slider-range-img__img slider-range-img__background-img'>
                  <img src="img/img-before.jpg" alt="">
                </div>
                <div class='slider-range-img__img slider-range-img__foreground-img'>
                  <img src="img/img-after.jpg" alt="">
                </div>
                <input type="range" min="1" max="100" value="50" class="slider-range-img__slider slider-range-input" name='slider-range-img'>
                <div class='slider-range-img__slider-button'></div>
              </div>

            </div>
          </div>
        </div>
        <div class="main-grid-react__txt txt-st-main" data-anim-fader>
          <p>For a change of scenery and some fresh inspiration, the Club House situated at the top of the Block is accessible to all tenants and includes meeting rooms, a bar, and an expansive terrace with al fresco seating.</p>
        </div>
      </div>

    </div>
  </div>

</div>
