
<div class="section section-my-txt-bl" data-anchor="slide2">
  <div class="section__full">
    <div class="container">
      <div class="bl-center-slide txt-center">
        <p>Space House is London’s only prime Grade-A Brutalist office space. Spanning 260,000 square feet it is an architectural masterpiece reimagined, sympathetically restored by Seaforth Land to the highest sustainability standards: BREEAM Outstanding and Fitwell accredited.</p>
        <p>With iconic architecture and exceptional public realm in the heart of Covent Garden, Space House sets a vision for the future of the workplace—more considered, more supportive, more inspiring.</p>
        <p>Available Autumn 2023.</p>
      </div>
    </div>
  </div>
</div>
