<div class="section section-map-conection" data-anchor="slide1">
  <div class="section__full">
    <div class="main-map-wrapp">
      <div class="main-map__nav">
        <button class="main-map__nav-item _active" data-map-route="bicycle">
          <svg width="42" height="36" viewBox="0 0 42 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.47502 33.8913C12.2913 33.8913 15.3881 30.7946 15.3881 26.9736C15.3881 23.1619 12.2918 20.0656 8.47502 20.0656C4.66835 20.0656 1.57162 23.1624 1.57162 26.9736C1.57162 30.795 4.66835 33.8913 8.47502 33.8913ZM0 26.9736C0 22.2915 3.80207 18.5032 8.47502 18.5032C13.1622 18.5032 16.9597 22.2915 16.9597 26.9736C16.9597 31.6609 13.1622 35.4533 8.47502 35.4533C3.80207 35.4537 0 31.6609 0 26.9736Z" fill="currentColor" />
            <path d="M33.4335 33.9714C37.2406 33.9714 40.3373 30.8797 40.3373 27.0587C40.3373 23.2424 37.2406 20.1507 33.4335 20.1507C29.6176 20.1507 26.5208 23.2424 26.5208 27.0587C26.5208 30.8797 29.6176 33.9714 33.4335 33.9714ZM24.9492 27.0583C24.9492 22.3711 28.7513 18.5829 33.4335 18.5829C38.1064 18.5829 41.9089 22.3711 41.9089 27.0583C41.9089 31.7455 38.1068 35.538 33.4335 35.538C28.7513 35.5384 24.9492 31.7455 24.9492 27.0583Z" fill="currentColor" />
            <path d="M24.9753 6.37156C26.7356 6.37156 28.1655 4.9504 28.1655 3.1906C28.1655 1.43039 26.7356 0 24.9753 0C23.2155 0 21.7852 1.4308 21.7852 3.1906C21.7852 4.9504 23.2155 6.37156 24.9753 6.37156Z" fill="currentColor" />
            <path d="M25.1069 14.1081C24.6455 14.1173 24.1472 13.8868 23.7796 13.308L21.7097 10.0705L17.437 14.3009L21.3991 16.3859C23.0273 17.1671 22.7826 18.5975 22.7826 18.5975V27.5666C22.7826 28.5829 21.9637 29.4111 20.9474 29.4111C19.931 29.4111 19.1121 28.5825 19.1121 27.5666V20.3858L12.2414 16.5695C11.4225 16.1131 10.8672 15.2376 10.8672 14.2401C10.8672 13.5528 11.1212 12.922 11.5541 12.4518L18.2928 5.69888C19.1306 4.75297 20.2973 4.90384 20.2973 4.90384C21.7093 4.90384 22.4528 6.13683 22.4528 6.13683L25.9539 11.6237L31.2719 11.6145C33.1825 11.6145 33.1825 14.1085 31.2719 14.1085H25.1069V14.1081Z" fill="currentColor" />
          </svg>
        </button>
        <button class="main-map__nav-item" data-map-route="afoot">
          <svg width="22" height="37" viewBox="0 0 22 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.61253 13.3413C6.76025 13.9693 5.90797 14.5973 5.05569 15.315C4.8314 15.4944 4.74169 15.8533 4.69683 16.1224C4.38283 17.7373 4.11369 19.3521 3.84455 21.0119C3.66512 22.0436 3.12684 22.4473 2.27456 22.3127C1.55685 22.1781 1.19799 21.5053 1.33256 20.5633C1.64656 18.5896 1.9157 16.571 2.27456 14.5973C2.36427 14.1039 2.63342 13.5656 2.99227 13.2516C4.38284 11.9956 5.86311 10.8293 7.29853 9.57334C8.64424 8.40706 10.2142 8.40706 11.7842 8.81077C12.3674 8.9902 12.9057 9.70791 13.2645 10.3359C14.1168 11.9956 14.8345 13.7002 15.6419 15.3599C15.8214 15.7636 16.1802 16.1224 16.5839 16.3019C17.9296 17.0196 19.365 17.6476 20.7556 18.3653C21.1145 18.5447 21.563 18.8139 21.7425 19.1727C21.9219 19.4867 21.9219 20.0699 21.7425 20.3839C21.6079 20.653 21.0696 20.8324 20.7108 20.8324C20.3519 20.8324 19.9033 20.6979 19.5445 20.5184C18.8716 20.2493 18.2436 19.9353 17.6156 19.6661C15.8214 18.8587 13.8476 18.2307 13.0402 16.1224C12.9505 16.1673 12.8608 16.1673 12.7711 16.2122C12.4122 17.7373 12.0534 19.3073 11.7842 20.8324C11.7394 21.0567 12.0085 21.3707 12.1431 21.6398C14.3411 25.2284 16.5391 28.817 18.7371 32.4055C19.051 32.8989 19.3202 33.4821 19.4548 34.0652C19.6342 34.7829 19.4548 35.4558 18.6922 35.8595C17.9296 36.2183 17.2119 36.2183 16.6736 35.5904C16.0905 34.9624 15.5074 34.2446 15.0588 33.5269C12.5468 29.6692 10.0797 25.8115 7.56768 21.9538C6.76025 20.6979 6.49111 19.4419 6.84997 18.0064C7.20882 16.5262 7.47796 15.001 7.79196 13.4759C7.7471 13.4759 7.70225 13.3862 7.61253 13.3413Z" fill="currentColor" />
            <path d="M6.13081 23.0753C6.93823 24.1967 7.7008 25.2284 8.41851 26.2153C8.55308 26.4396 8.6428 26.7984 8.55308 27.0227C8.28394 27.875 8.05966 28.817 7.52137 29.5347C6.13081 31.5084 4.65053 33.4373 3.12539 35.3213C2.40768 36.2184 1.60026 36.2633 0.927406 35.7698C0.299409 35.2764 0.209695 34.4241 0.747978 33.4821C1.33112 32.5401 1.91426 31.5981 2.63197 30.7458C4.24682 28.817 5.18881 26.5742 5.7271 24.1519C5.77195 23.9276 5.86167 23.7033 5.90652 23.479C5.99624 23.3893 6.04109 23.2996 6.13081 23.0753Z" fill="currentColor" />
            <path d="M13.038 7.10626C11.1092 7.10626 9.62891 5.67084 9.62891 3.74199C9.62891 1.81314 11.1092 0.28801 13.0829 0.28801C15.0117 0.28801 16.5369 1.81314 16.492 3.78685C16.4472 5.67084 14.9669 7.10626 13.038 7.10626Z" fill="currentColor" />
          </svg>
        </button>
        <button class="main-map__nav-item" data-map-route="automobile">
          <svg width="40" height="33" viewBox="0 0 40 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M39.1392 13.4543H35.7254C34.4453 5.85871 27.8738 0.0979919 19.9368 0.0979919C11.9998 0.0979919 5.4283 5.85871 4.14813 13.4543H0.734375V18.7883H4.14813C5.4283 26.3413 11.9998 32.102 19.9368 32.102C27.8738 32.102 34.4453 26.3413 35.7254 18.7457H39.1392V13.4543ZM19.9368 5.43199C24.8867 5.43199 29.0686 8.84575 30.2634 13.4543H9.61015C10.805 8.84575 14.9868 5.43199 19.9368 5.43199ZM19.9368 26.768C14.9868 26.768 10.805 23.3542 9.61015 18.7457H30.2634C29.0686 23.3542 24.8867 26.768 19.9368 26.768Z" fill="currentColor"/>
            </svg>
        </button>
        <button class="main-map__nav-item" data-map-route="railway">
          <svg width="25" height="39" viewBox="0 0 25 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.52746 32.8291H20.118C22.3621 32.8291 24.1337 31.1755 24.1337 29.1677V7.6126C24.1337 5.60473 22.303 3.95119 20.118 3.95119H4.52746C2.28337 3.95119 0.511719 5.60473 0.511719 7.6126V29.1086C0.511719 31.1755 2.28337 32.8291 4.52746 32.8291ZM5.41328 30.2307C4.29124 30.2307 3.40541 29.3448 3.40541 28.2228C3.40541 27.1007 4.29124 26.2149 5.41328 26.2149C6.53533 26.2149 7.42115 27.1007 7.42115 28.2228C7.42115 29.3448 6.53533 30.2307 5.41328 30.2307ZM19.2322 30.2307C18.1101 30.2307 17.2243 29.3448 17.2243 28.2228C17.2243 27.1007 18.1101 26.2149 19.2322 26.2149C20.3542 26.2149 21.24 27.1007 21.24 28.2228C21.2991 29.3448 20.3542 30.2307 19.2322 30.2307ZM8.83847 5.78189C8.83847 5.48662 9.13375 5.19134 9.48808 5.19134H15.0983C15.4526 5.19134 15.7479 5.42756 15.7479 5.78189V7.49449C15.7479 7.78976 15.4526 8.08504 15.0983 8.08504H9.48808C9.13375 8.08504 8.83847 7.84882 8.83847 7.49449V5.78189ZM2.22431 12.337C2.22431 10.7425 3.58258 9.4433 5.29517 9.4433H19.3503C21.0629 9.4433 22.4211 10.7425 22.4211 12.337V16.648C22.4211 18.2425 21.0629 19.5417 19.3503 19.5417H5.29517C3.58258 19.5417 2.22431 18.2425 2.22431 16.648V12.337Z" fill="currentColor" />
            <path d="M14.3314 3.36064C15.1141 3.36064 15.7487 2.72608 15.7487 1.94332C15.7487 1.16056 15.1141 0.526001 14.3314 0.526001C13.5486 0.526001 12.9141 1.16056 12.9141 1.94332C12.9141 2.72608 13.5486 3.36064 14.3314 3.36064Z" fill="currentColor" />
            <path d="M10.3158 3.36064C11.0985 3.36064 11.7331 2.72608 11.7331 1.94332C11.7331 1.16056 11.0985 0.526001 10.3158 0.526001C9.53299 0.526001 8.89844 1.16056 8.89844 1.94332C8.89844 2.72608 9.53299 3.36064 10.3158 3.36064Z" fill="currentColor" />
            <path d="M20.2379 33.774H4.41116L1.28125 38.9118H3.93872L5.71037 36.3133H18.9387L20.7103 38.9118H23.3678L20.2379 33.774Z" fill="currentColor" />
          </svg>
        </button>
        <button class="main-map__nav-item" data-map-route="aerodrome">
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.2937 0.688693L26.8936 1.23653C25.6153 1.7235 24.4588 2.45394 23.5153 3.42788L20.0152 6.89751L3.5497 3.64092C3.06273 3.54962 2.54533 3.7018 2.1801 4.06702L1.35835 4.88877C1.23661 5.01052 1.26704 5.254 1.41922 5.34531L14.8717 12.1628L8.48023 19.2543L2.05836 17.5499C1.84531 17.489 1.60183 17.5499 1.44965 17.7021L0.780076 18.3716C0.658335 18.4934 0.68877 18.7369 0.871382 18.8586L6.6541 22.2674L6.47149 22.9674C6.34975 23.4848 6.80628 23.9413 7.32368 23.8196L8.0237 23.637L11.4325 29.4197C11.5238 29.6023 11.7672 29.6327 11.9194 29.4806L12.589 28.811C12.7412 28.6588 12.802 28.4153 12.7412 28.2023L11.0672 21.75L18.1587 15.3585L24.9762 28.811C25.0675 28.9936 25.2806 29.024 25.4327 28.8719L26.2545 28.0501C26.6197 27.6849 26.7719 27.1675 26.6806 26.6805L23.3631 10.2454L26.8632 6.74533C27.8067 5.80184 28.5676 4.64529 29.0545 3.36701L29.6024 1.96698C29.8763 1.17566 29.085 0.384339 28.2937 0.688693Z" fill="currentColor" />
          </svg>
        </button>
      </div>
      <div class="my-map my-map--init"></div>
    </div>
  </div>
</div>

<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwDe3v8qScfLQ7fe4NMwHZUBzyQCviuU4"></script>
<script>
  window.locationsJSON = 'uploads/map.json';
  let urlMarkerMap = 'img/marker-map.svg';
</script>
<!-- <script>
  // window.locationsJSON = 'uploads/map.json';
  // let urlMarkerMap = 'img/marker-map.svg';
  // let urlMarkerMapActive = 'img/marker-map-active.svg';
  let officeLat = '34.89';
  let officeLng = '-111.80';
  let officeMarkerMap = 'img/marker-map-office.svg';
</script> -->
