<div class="section section-my-built scroll-auto fp-auto-height end--nav22" data-anchor="slide23">
  <div class="section__full">
    <div class="container">
      <div class="line-desc">
        <div class="main-grid-react2">
          <div class="main-grid-react__img">
            <div class="main-grid-react__img-inner" data-anim-zoom>
              <div class="bl-video bl-video_22">
                <!-- <img src="img/img17.jpg" alt="image"> -->
                <video loop muted playsinline data-autoplay>
                  <source src="https://res.cloudinary.com/dlz80e3v7/video/upload/v1582903321/flowers_kgvvqw.mp4" type="video/mp4">
                  <source src="https://res.cloudinary.com/dlz80e3v7/video/upload/v1582903318/flowers_ofohyg.webm" type="video/webm">
                </video>
              </div>
            </div>
          </div>
          <div class="main-grid-react__txt txt-st-main" data-anim-fader>
            <p>For a change of scenery and some fresh inspiration, the Club House situated at the top of the Block is accessible to all tenants and includes meeting rooms, a bar, and an expansive terrace with al fresco seating.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


        <!-- TODO:
        <video class="my-bg" loop muted playsinline data-autoplay>
            <source src="https://res.cloudinary.com/dlz80e3v7/video/upload/v1582903321/flowers_kgvvqw.mp4" type="video/mp4">
            <source src="https://res.cloudinary.com/dlz80e3v7/video/upload/v1582903318/flowers_ofohyg.webm" type="video/webm">
        </video>
        -->
