<div class="fix-anchor-space">
  <ul>
    <li class="fp-nav-space"><a data-nav-name="header" href="#header">BREATHE</a>
    </li>
    <li class="fp-nav-space"><a data-nav-name="collaborate-space" href="#collaborate-space">COLLABORATE</a>
    </li>
    <li class="fp-nav-space"><a data-nav-name="create-space" href="#create-space">CREATE</a></li>
    <li class="fp-nav-space"><a data-nav-name="evolve-space" href="#evolve-space">EVOLVE</a></li>
  </ul>
</div>
