<div class="section section-my-built scroll-auto fp-auto-height end--nav1" data-anchor="slide7">
  <div class="section__full">
    <div class="container">
      <div class="line-desc">
        <div class="people-grid">
          <div class="people-grid__tt" data-anim-fadel>
            <div class="tt-site tt-site_h2">PEOPLE AND PLANET <br> FIRST</div>
          </div>
          <div class="people-grid__img" data-anim-zoom>
            <div class="bl-video bl-video_7">
              <!-- <img src="img/img1.jpg" alt="image"> -->
              <video loop muted playsinline data-autoplay>
                <source src="https://res.cloudinary.com/dlz80e3v7/video/upload/v1582903321/flowers_kgvvqw.mp4" type="video/mp4">
                <source src="https://res.cloudinary.com/dlz80e3v7/video/upload/v1582903318/flowers_ofohyg.webm" type="video/webm">
              </video>
            </div>
          </div>
          <div class="people-grid__txt txt-st-main" data-anim-fadel>
            <p>We are surrounded by greenery in the middle of the city. Every seat on site offers unobstructed views of nature <br>
              —no matter what floor you’re on. </p>
          </div>
        </div>
        <div class="people-grid2">
          <div class="people-grid__img people-grid__img_center-line" data-anim-zoom>
            <div class="bl-video bl-video_8">
              <!-- <img src="img/img2.jpg" alt="image"> -->
              <video loop muted playsinline data-autoplay>
                <source src="https://res.cloudinary.com/dlz80e3v7/video/upload/v1582903321/flowers_kgvvqw.mp4" type="video/mp4">
                <source src="https://res.cloudinary.com/dlz80e3v7/video/upload/v1582903318/flowers_ofohyg.webm" type="video/webm">
              </video>
            </div>
          </div>
          <div class="people-grid__txt txt-st-main" data-anim-fader>
            <p>For sunnier days, the Club House provides access to a communal terrace overlooking the sprawling city below. Perfect for reconnecting with yourself or brainstorming new ideas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-my-built scroll-auto fp-auto-height" data-anchor="collaborate-space">
  <div class="section__inner section-space-banner__inner">
    <div class="container">
      <div class="section-space-banner-grid">
        <div class="section-space-banner-preview" data-anim-fadey>
          <div class="section-space-banner-preview__img" data-anim-zoom>
            <img src="img/space-preview1.jpg" alt="image">
          </div>
          <div class="section-space-banner-preview__info">
            <div class="tt-site tt-site-grid tt-site_h2 txt-letter5" data-anim-fadey="0.6">
              <div class="tt-site-grid__left" data-paralax><span data-depth="0.5">SPACE TO</span></div>
              <div class="tt-site-grid__right" data-paralax><span data-depth="-0.5">COLLABORATE</span></div>
            </div>
          </div>
        </div>
        <div class="section-space-banner-desc txt-left">
          <div class="section-space-banner-desc__inner txt-st-main" data-anim-fader>
            <div>Redesigned to bring people together, spark conversation
              and ignite ideas, Space House nurtures a thriving community
              at its heart.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
