<div class="section section-dark section-preview" data-anchor="slide3">

  <div class="my-bg" data-anim-zoom>
    <img src="img/bg7.jpg" alt="image">
  </div>

  <div class="section__inner">
    <div class="container" data-paralax data-anim-fadey-fix>
      <div class="section-preview__tt  section-preview__tt_letter-mob-block" data-depth="0.5">
        <span>INSIDE</span>
        <span>AND</span>
        <span>OUT</span>
      </div>
    </div>
  </div>
</div>
