<div class="section section-dark section-preview" data-anchor="slide16">
  <div class="my-bg" data-anim-zoom>
    <img src="img/bg10.jpg" alt="image">
  </div>
  <div class="section__inner section__inner_bottom-txt">
    <div class="container">
      <div class="bottom-txt__inner" data-paralax data-anim-fadey-fix>
        <div class="section-preview__tt section-preview__tt_letter-mob-block" data-depth="0.5">
          <span>DESIGNED</span>
          <span>TO</span>
          <span>INSPIRE</span>
        </div>
        <div class="txt-bottom txt-st-main" data-anim-fader>
          <p>We lead by design. Our approach to restoration and refurbishment brings to life our ambitions for a better work/life balance and a healthier environment. </p>
        </div>
      </div>
    </div>
  </div>
</div>
