<div class="section section-dark section-preview" data-anchor="slide10">
  <div class="my-bg" data-anim-zoom>
    <img src="img/bg7.jpg" alt="image">
  </div>
  <div class="section__inner section__inner_bottom-txt">
    <div class="container" data-anim-fadey-fix>
      <div class="bottom-txt__inner">
        <div data-paralax data-anim-fadey-fix>
          <div class="section-preview__tt section-preview__tt_letter-mob-block" data-depth="0.5">
            <span>THE</span>
            <span>RIGHT</span>
            <span class="hidden-mob">ATMOSPHERE</span>
            <span class="hidden-desk hidden-tabl">ATMOS- PHERE</span>
          </div>
        </div>
        <div class="txt-bottom txt-st-main" data-anim-fader>
          <p>We use cutting-edge technology to maintain the perfect environment. User applications control air quality and climate for the safest and best conditions in which to collaborate.</p>
        </div>
      </div>
    </div>
  </div>
</div>
