<div class="section section-dark section-preview" data-anchor="slide18">
  <div class="my-bg" data-anim-zoom>
    <img src="img/bg11.jpg" alt="image">
  </div>
  <div class="section__inner section__inner_bottom-txt">
    <div class="container">
      <div class="bottom-txt__inner">
        <div data-paralax data-anim-fadey-fix>
          <div class="section-preview__tt section-preview__tt_letter-mob-block" data-depth="0.5">
            <span>FLEXIBLE</span>
            <span>THINKING</span>
          </div>
        </div>
        <div class="txt-bottom txt-st-main" data-anim-fader>
          <p>Let yourself be drawn upward into a building elevated
            in form and function, which welcomes with spacious entrances.</p>
        </div>
      </div>
    </div>
  </div>
</div>
