<div class="section section-dark section-preview" data-anchor="slide22">
  <div class="my-bg" data-anim-zoom>
    <img src="img/bg11.jpg" alt="image">
  </div>
  <div class="section__inner section__inner_bottom-txt">
    <div class="container">
      <div class="bottom-txt__inner">
        <div data-paralax data-anim-fadey-fix>
          <div class="section-preview__tt section-preview__tt_letter-mob-block" data-depth="0.5">
            <span>BIRD’S</span>
            <span>EYE</span>
            <span>VIEW</span>
          </div>
        </div>
        <div class="txt-bottom txt-st-main" data-anim-fader>
          <p>Mezzannine floors offer the opportunity and space to design a completely unique working environment, while picture windows afford all-day light and a 360-degree view of London.</p>
        </div>
      </div>
    </div>
  </div>
</div>
