<div class="section section-slider section-raffia space-section-5" data-anchor="slide4">
  <div class="section-slider__inner slider-space1">

    <div class="slider-icon-wrapp" data-slider-icon>
      <!-- Slider main container -->
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide" data-anim-fadey>
            <div class="slide-main-icon">
              <div class="slide-main-icon__icon">
                <img src="img/ic-slider1.png" alt="icon">
              </div>
              <div class="slide-main-icon__image">
                <img src="img/slide1.jpg" alt="image slide">
              </div>
              <div class="slide-main-icon__txt">
                Unwind at the dedicated ground-floor <br> restaurant
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-anim-fadey="0.4">
            <div class="slide-main-icon">
              <div class="slide-main-icon__icon">
                <img src="img/ic-slider2.png" alt="icon">
              </div>
              <div class="slide-main-icon__image">
                <img src="img/slide1.jpg" alt="image slide">
              </div>
              <div class="slide-main-icon__txt">
                Bike terminals promote eco-friendly <br> commuting
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-anim-fadey="0.8">
            <div class="slide-main-icon">
              <div class="slide-main-icon__icon">
                <img src="img/ic-slider1.png" alt="icon">
              </div>
              <div class="slide-main-icon__image">
                <img src="img/slide1.jpg" alt="image slide">
              </div>
              <div class="slide-main-icon__txt">
                Unwind at the dedicated ground-floor restaurant
              </div>
            </div>
          </div>

        </div>
        <!-- If we need pagination -->
        <!-- <div class="swiper-pagination"></div> -->

        <!-- If we need navigation buttons -->
        <div class="slider-right-btn">
          <div class="btn-slider btn-slider_prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path d="M10.01 0l-.68.665 4.855 4.86H0v.95h14.185L9.33 11.34l.68.66L16 6z"/></g></g></svg>
          </div>
          <div class="btn-slider btn-slider_next">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"><g><g><path d="M10.01 0l-.68.665 4.855 4.86H0v.95h14.185L9.33 11.34l.68.66L16 6z"/></g></g></svg>
          </div>
        </div>

        <!-- If we need scrollbar -->
        <!-- <div class="swiper-scrollbar"></div> -->
      </div>
    </div>

  </div>
</div>
