<div class="section" data-anchor="slide20">
  <div class="slider-range-img" data-slider-range-img data-anim-zoom>
    <div class='slider-range-img__img slider-range-img__background-img'>
      <img src="img/img-before.jpg" alt="">
    </div>
    <div class='slider-range-img__img slider-range-img__foreground-img'>
      <img src="img/img-after.jpg" alt="">
    </div>
    <input type="range" min="1" max="100" value="50" class="slider-range-img__slider slider-range-input" name='slider-range-img'>
    <div class='slider-range-img__slider-button'></div>
  </div>
</div>
