
<div class="section__inner box-hidden section-space-banner__inner">
  <div class="container">
{#    <div class="fix-anchor-space">#}
{#      <ul>#}
{#        <li class="fp-nav-space"><a href="#slide1">BREATHE</a>#}
{#        </li>#}
{#        <li class="fp-nav-space"><a href="#collaborate-space">COLLABORATE</a>#}
{#        </li>#}
{#        <li class="fp-nav-space"><a href="#create-space">CREATE</a></li>#}
{#        <li class="fp-nav-space"><a href="#evolve-space">EVOLVE</a></li>#}
{#      </ul>#}
{#    </div>#}
    <div class="section-space-banner-grid">
      <div class="section-space-banner-preview">
        <div class="section-space-banner-preview__img">
          <img src="img/space-preview1.jpg" alt="image">
        </div>
        <div class="section-space-banner-preview__info">
          <div class="tt-site tt-site-grid tt-site_h2 txt-letter5">
            <div class="tt-site-grid__left">SPACE TO</div>
            <div class="tt-site-grid__right">BREATHE</div>
          </div>
        </div>
      </div>

      <div class="section-space-banner-desc txt-left">
        <div class="section-space-banner-desc__inner">
          <div>Refurbished to meet the standards of today, Space House supports your physical and mental wellbeing, as well as the planet and environment.</div>
        </div>
      </div>
    </div>
  </div>
</div>
